[2017-10-16 18:18] arthurdm opened #3 "Add annotation support"
This issue will add OpenAPI v3 annotations that allow users to document their RESTful application.  It should cover the entire spectrum of the OpenAPI v3 specification

[2017-10-17 00:35] johnament opened #4 "De-dupe annotations with available API from Swagger"
Most users of OpenAPI are familiar with the [Swagger annotations](https://github.com/swagger-api/swagger-core/wiki/Annotations-2.X).  By duplicating these annotations, which are just representations of the spec, we're creating portability problems for users who may already be using the annotations, as well as introducing extra complexity by needing to switch between the two.

[2017-10-17 20:26] arthurdm commented on #4
@johnament   I think there are 3 counter arguments to this:

(1) OpenAPI is a new spec, with most users not using it yet.  This proves to be the right time to create an official specification, rather than waiting 2 years when everyone is indeed using either Swagger or RepreZen (or another vendor).

(2) Many people (including IBM, Red Hat and other OAI members) have expressed the need to move away

[2017-10-18 00:09] arthurdm opened #5 "Introduce models"
We need to introduce OAS models (as interfaces) so that we can work with the OAS tree during annotation processing.  These models should be able to be chained, as well as created independently.

We also need a factory to create these.

[2017-10-18 00:12] arthurdm opened #6 "Introduce filter capability"
We need to introduce a Filter service/interface that would allow application developers to take control before/during/after the annotation processing stage.

This means that dev have the flexibility to programmatically start an OAS tree that the processor uses, or filter certain operations/objects dynamically.    Devs could even do a "model-only" approach, which would turn off annotation processin

[2017-10-18 00:14] arthurdm opened #7 "Server configuration injection"
OAS introduced the concept of a server object (global-level array and operation-level array).   We need to see how devs can inject the server information using MP Config 1.1.  This should work in a variety of scenarios (standalone, kubernetes, cloud foundry, etc).

[2017-10-18 00:17] arthurdm opened #8 "Allow configuration of annotation processing"
We should allow the configuration of annotation processing via MP Config, for example, which packages to scan (improves performance for large apps).

For example, a dev should be able to do this inside META-INF/microprofile-config.properties
[code]
The implementation of this spec would get those values injected (or can manually query for them).

[2017-10-18 00:24] arthurdm opened #9 "Specify design-first scenarios"
In many scenario (ie: banks) the OpenAPI specification will be designed before the microservice code starts.  This means that an openapi.yaml (or JSON) file will be available.

Even though this scenario won't use annotation processing, there are some things we should specify in this spec:
(1) where does the app dev include this in their app? (ie: in order to view it in a UI, or to use it as a prox

[2017-10-18 00:27] arthurdm opened #10 "Add annotation samples to the spec"
This issue tracks the completion of the section "Detailed usage of key annotations" of the spec.

For each of the key annotations we need to write a bit more information on its usage scenario and have at least 1 sample (more would be better), of the Java annotation itself + generated output.

Something similar to the samples in the Swagger wiki: https://github.com/swagger-api/swagger-core/wiki/Ann

[2017-10-18 00:28] arthurdm opened #11 "Write a sample for OASFilter"
Once we have https://github.com/eclipse/microprofile-open-api/issues/6, we should add a sample to the OpenAPI spec wiki.

[2017-10-18 00:28] arthurdm opened #12 "Write a sample for the annotation configuration"
Write a sample in the wiki that demonstrates how to configure the annotation processor

[2017-10-18 00:36] arthurdm opened #13 "Create a TCK"
We'll need a TCK for this specification.  It should exercises the different parts of the spec.

[2017-10-18 12:13] EricWittmann commented on #4
I definitely think that having the OpenAPI annotations live within a non-swagger package is important to the continued growth and success of the OAI specification going forward.  Red Hat is definitely invested in making sure that our communities move to OpenAPI for API design/documentation and in the Java world that means keeping the term "swagger" out of the package names.

[2017-10-18 18:55] arthurdm opened #14 "Define endpoint to retrieve OpenAPI document"
This spec needs to define an endpoint that will return the OpenAPI document that was generated from the processing of the annotations + models.

I propose that the endpoint be `/openapi`, with a default Content-type of `application/yaml` but also supporting `application/json` Content requests.

This would mean that any implementation of MP OpenAPI would expose this endpoint.

[2017-10-20 18:42] arthurdm commented on #5
We should also include a sample on how to build a model tree.

[2017-10-26 15:36] arthurdm commented on #14
Another consideration is to have a query param (something like `format=json`) to allow the format to change without having to use a REST client like POSTMAN

[2017-10-26 16:14] arthurdm commented on #14
Another question for this design is: what happens when there's more than 1 application in that MP runtime?

I propose we follow a similar convention started by the MicroProfile HeathCheck specification:

[code]

This means that the MP OpenAPI specification will not define exactly the semantics of a multiple app environment, but a reasonable expectation is that an implementation that support multip

[2017-10-26 17:36] arturdzm opened #18 "Define way of providing extra vendor specific configuration"
Define a common way to provide extra properties for different vendors using MicroProfile config
For example:

openapi.extension = { myExt: myValue}
or
openapi.extension.myExt = myValue

[2017-10-26 18:32] mrglavas opened #19 "Add Javadoc to org.eclipse.microprofile.openapi.models.Constructible."
Add a description to the org.eclipse.microprofile.openapi.models.Constructible interface that specifies its relationship with the OASFactory.

[2017-10-27 21:05] janamanoharan opened #20 "test"
was-liberty/open-liberty#1153

[2017-10-27 21:05] #20 closed

[2017-10-30 09:49] Emily-Jiang commented on #14
+1

[2017-10-31 19:52] mrglavas commented on #19
Delivered to mp-models branch with PR: https://github.com/arthurdm/microprofile-open-api/pull/29

[2017-10-31 19:52] #19 closed

[2017-10-31 19:57] mrglavas opened #21 "Factor out base interface for 'reference' objects."
Proposed interface:
public interface Reference<T extends Reference<T>> {
    String getRef();
    void setRef(String ref);
    T ref(String ref);
}

[2017-10-31 20:20] mrglavas commented on #21
Changes delivered to mp-models branch with PR: https://github.com/arthurdm/microprofile-open-api/pull/31

[2017-10-31 20:20] #21 closed

[2017-11-02 20:19] mrglavas opened #22 "Address maven build failures from 'checkstyle' and 'javadoc' plug-ins"
Running 'mvn install' on the current code in arthurdm/master is generating many warning and errors from the 'checkstyle' and 'javadoc' plug-ins. We should review and resolve these issues. I'll be pasting the output from my build(s) here, but of course the actual list of issues will change from day-to-day as we keep updating the repository. Once we get this cleaned up folks should make sure that th

[2017-11-02 20:20] mrglavas commented on #22
Errors and warnings from the Javadoc plug-in:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-javadoc-plugin:2.10.4:jar (attach-javadocs) on project microprofile-openapi-api: MavenReportException: Error while generating Javadoc:
[ERROR] Exit code: 1 - C:\mp\microprofile-open-api\api\src\main\java\org\eclipse\microprofile\openapi\annotations\Operation.java:113: warning: no @return
[E

[2017-11-02 20:23] mrglavas commented on #22
Errors from the 'checkstyle' plug-in (2017/11/02):

[INFO] --- maven-checkstyle-plugin:2.17:check (verify-style) @ microprofile-openapi-api ---
[INFO] Starting audit...
C:\mp\microprofile-open-api\api\src\main\java\org\eclipse\microprofile\openapi\annotations\ExternalDocumentation.java:34:1: error: File contains tab characters (this is the first instance).
C:\mp\microprofile-open-api\api\src\main\

[2017-11-03 14:35] arthurdm commented on #4
@johnament - another comment, as it relates to both annotations and models that you are opposing.

How can the OpenAPI Java specification grow into an official MicroProfile spec and then eventually into a JSR spec without changing the package namespace?

We chose the Swagger library as the core base of this new MP OpenAPI spec for the purposes that it's mostly a mechanical change to get from one i

[2017-11-03 16:59] arthurdm commented on #5
Here's a sample that uses the swagger libraries https://github.com/microservices-api/oas3-configuration/blob/master/sample.oas.programmingModels/src/io/swagger/sample/config/OpenAPIConfigurationImpl.java#L23

We're trying to achieve a similar pattern here, but using MP Config as the entry point of this configuration.

[2017-11-03 23:35] Emily-Jiang commented on #4
I am with @arthurdm amd @EricWittmann ! I think it is great to bring swagger api to MP community and drive to get the APIs adopted among MP members. Since swagger library is not a standard, if anyone wants to include this library in their apps, it is fine. The most important thing here is to maintain the APIs and get the APIs implemented by the application servers, e.g. Liberty, Wildfly swarm, pay

[2017-11-07 15:17] a-saf commented on #22
Looking into the errors and warnings from JavaDoc plug-in, as those are related to models and annotations I worked on.

[2017-11-08 16:33] a-saf commented on #22
Javadoc issues fixed, PR created

[2017-11-09 20:21] mrglavas commented on #13
@arthurdm I'm currently working on the skeleton for the TCK. Can you assign this one to me? Thanks.

[2017-11-09 20:24] arthurdm commented on #4
Closing this issue as there has been a majority decision (via this issue and via our last hangout) on the current direction of the annotations and models.

[2017-11-09 20:24] #4 closed

[2017-11-09 20:25] mrglavas commented on #22
Running 'mvn install' from arthurdm/master now completes cleanly, so I can confirm that all of these issues have been resolved. Thanks @a-saf and @arturdzm for fixing these problems.

[2017-11-09 20:25] #22 closed

[2017-11-10 13:30] arthurdm commented on #13
Unfortunately the `Assignee` field only picks from the committers list, so can't assign.  But it's recorded here that @mrglavas is currently working on this issue.

[2017-11-10 19:01] arturdzm opened #24 "Callback model should implement Reference interface"
Example of $ref to callback

[code]

[2017-11-10 19:47] arthurdm opened #26 "Publish jars to appropriate repository"
We need to plug into MicroProfile's repository so that the jars we have in this spec (annotations, models, programming interfaces, etc) are available in the proper place.

[2017-11-10 19:55] navidsh commented on #26
I am currently working on this issue.

[2017-11-10 21:19] arturdzm opened #27 "Link model requestBody field should be String or Object"
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#linkObject

Right now its of type RequestBody but specification states a literal Any | {expression} type.

[2017-11-10 21:43] arthurdm commented on #24
Issue has been resolved by pull request #25

[2017-11-10 21:43] #24 closed

[2017-11-13 15:53] leochr commented on #8
**openapi.classesToScan**
A comma seperated list of classes to scan.
defaultValue = all
Example:
openapi.classesToScan=MyClassA,MyClassB,MyClassC

**openapi.packagesToScan**
List of packages to scan. Only classes from the list of packages will be scanned, others will not be scanned.
defaultValue = all
Example:
openapi.packagesToScan=myPackages.PackageA,myPackages.PackageB

**openapi.disableScan**

[2017-11-13 15:56] leochr commented on #8
Servers for Paths

**openapi.servers.path**
An alternative list of servers to service all operations in this path.
Example:
openapi.servers.path./pet/name/{id}=https://myserverC.com/v1,https://myserverD.com/v1

[2017-11-13 15:59] leochr commented on #8
Servers for Operations

openapi.servers.operation
An alternative list of servers to service this operation.
Example:
openapi.servers.operation.myOperationId=https://myserverE.com/v1

We can also use the way the operationRef references operation.This way operationId is not mandatory to specify alternate server for an operation.
openapi.servers.operation.#/paths/~1repositories~1{username}/get=https:

[2017-11-13 16:17] pilhuhn commented on #8
The config keys should have a "microprofile" prefix. We discussed that for the REST-client. @johnament probably recalls where :)

[2017-11-13 21:54] arturdzm commented on #27
RequestBody can be any literal value such json number, array or string or boolean

[code]

Example Object also has value of type Any and its defined as Object:
 https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#exampleObject

[2017-11-14 01:42] arthurdm commented on #27
+1

We should keep consistency with Example.value

[2017-11-14 01:43] arthurdm commented on #27
@arturdzm - will you be working on this one?

[2017-11-14 14:08] arthurdm commented on #27
Fixed by https://github.com/eclipse/microprofile-open-api/pull/28

[2017-11-14 14:08] #27 closed

[2017-11-14 16:44] arthurdm opened #29 "Describe behaviour of appending context roots"
The spec should define an expected behaviour in terms of whether the context root of an application is present in every PathItem or if that context root goes into the server URL.

Our proposal is for the context root to be present in the server URL (much like basePath in v2)

[2017-11-14 16:59] arturdzm commented on #18
Best practices for defining vendor extensions:

microprofile.openapi.extensions.ext1 = value
microprofile.openapi.extensions.ext1 = [value1, value2]

[2017-11-16 02:39] arturdzm opened #33 "Create specification document outline"
Create specification document outline for further collaboration on documentation

[2017-11-16 15:50] arthurdm commented on #8
One consideration may be to have these as public static final keys in some interface, so that vendors don't have to hardcode them or create their own static keys.

[2017-11-16 15:50] arthurdm commented on #7
We will cover this with the configuration from https://github.com/eclipse/microprofile-open-api/issues/8

[2017-11-16 15:50] #7 closed

[2017-11-16 17:03] arthurdm commented on #8
@pilhuhn - should the prefix be simply `mp` to make it shorter / easier to write?

[2017-11-16 17:11] pilhuhn commented on #8
Perfectly fine with me :-)  I think it should be consistent with other specs.
I have created a thread in the Google group at https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/microprofile/LujyD0OYrP0

[2017-11-16 18:25] arthurdm commented on #6
Delivered via https://github.com/eclipse/microprofile-open-api/pull/32

[2017-11-16 18:25] #6 closed

[2017-11-16 18:27] arthurdm commented on #5
Models have been introduced in the `api` section.  I will open a new issue for the documentation of a sample usage of the models via the model reader.

[2017-11-16 18:27] #5 closed

[2017-11-16 18:28] arthurdm opened #36 "Create a sample of the OASModelReader"
This sample should showcase how an app dev would contribute a model tree (either complete or partial), using the `OASModelReader`.

Here's an example from the Swagger repositories on a similar approach: https://github.com/microservices-api/oas3-configuration/blob/master/sample.oas.programmingModels/src/io/swagger/sample/config/OpenAPIConfigurationImpl.java#L23

[2017-11-16 18:28] arthurdm commented on #33
Fixed in https://github.com/eclipse/microprofile-open-api/pull/35

[2017-11-16 18:28] #33 closed

[2017-11-20 19:10] arthurdm commented on #14
Resolved in https://github.com/eclipse/microprofile-open-api/pull/40

[2017-11-20 19:10] #14 closed

[2017-11-20 19:10] arthurdm commented on #29
Resolved in https://github.com/eclipse/microprofile-open-api/pull/40

[2017-11-20 19:10] #29 closed

[2017-11-20 19:44] arthurdm opened #41 "Specific an opinion on internationalization"
We don't need to mandate a solution, but the spec should at least mention this in the limitations section

[2017-11-20 20:13] mrglavas commented on #13
Breakdown of TCK test scenarios:

API:
 - Direct testing of model construction through OASFactory.
 - Check that each method on model interfaces can be executed.
 - Check that each getter method on model returns what was set with setter or builder method.
 - Test any other factory method that gets added for filtering, etc...
 - Negative testing for bad input (e.g. non-model interface passed to OAS

[2017-11-20 20:14] mrglavas commented on #13
I am currently working on the model construction test.

[2017-11-20 21:59] arthurdm commented on #13
Looks good @mrglavas !    My only comment is that the query parameter (format) is an optional part of the spec, so the TCK should be testing with the `Accept` header (application/yaml and application/json).

[2017-11-21 16:52] arturdzm opened #45 "OpenAPI SecurityRequirement does not allow to define set of requirements"
Example document:
[code]
Currently version in endpoint /both is not possible.
Need to add a container, such as SecurityRequirementsSet

[2017-11-21 17:14] mrglavas commented on #13
Thanks @arthurdm. I've updated the description.

[2017-11-21 17:15] arturdzm opened #46 "Remove ArraySchema annotation"
Remove ArraySchema annotation and reference to it.
AllOff, oneOf and other schema properties use Java class for definition.
We should keep that consistent with array schemas as well
Usage difference:
Instead of using array=@ArraySchema(schema=@Schema)

For simple types:
`@Schema(type="array", implementation=String.class)`

For complex types:

[code]

[2017-11-21 17:35] navidsh opened #47 "Improving Tag and Tags annotations"
`@Tag` and `@Tags` annotations can be defined in one JAX-RS resources class and used in other classes. In the open source Swagger annotation definition, it is confusing how to refer to tags in different annotations.

Here is the proposal:
- Adding the ref `@Tag`:
[code]
If `ref` field is defined in a `@Tag`, there is no need to define the `name` field.

- Adding the ref s`@Tags` for easy referenci

[2017-11-22 14:26] arthurdm commented on #41
Resolved with merge #42

[2017-11-22 14:26] #41 closed

[2017-11-22 14:28] arthurdm commented on #3
Closing this issue as there has been many PRs that delivered this annotations in the past few weeks.  We consider the current set of annotations very close to complete, with just a minor few bugs/enhancements, which will be tracked via individual issues.

[2017-11-22 14:28] #3 closed

[2017-11-22 15:37] navidsh commented on #47
I am working on this issue.

[2017-11-22 19:33] leochr commented on #8
Latest list of configurable properties:

- **mp.openapi.model.reader**
Configuration property to specify the fully qualified name of the OASModelReader implementation.

-  **mp.openapi.filter**
Configuration property to specify the fully qualified name of the OASFilter implementation.

- **mp.openapi.scan.disable**
Configuration property to disable annotation scanning.

- **mp.openapi.scan.package

[2017-11-22 19:33] leochr commented on #18
this will be covered by #8 - so this issue can be closed.

[2017-11-22 21:10] arthurdm commented on #8
Thanks for the contribution!  Closing this as merge #48 is in.

[2017-11-22 21:10] #8 closed

[2017-11-22 21:10] arthurdm commented on #18
Closing via merge #48

[2017-11-22 21:10] #18 closed

[2017-11-23 15:55] arturdzm opened #50 "Parameters in Link model should be of type Map<String, Object>"
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#linkObject
parameters filed is Map[string, Any | {expression}]

So we should switch to Object for consistency with rest of the models.

[2017-11-23 16:35] arthurdm commented on #47
Solved via merge #49

[2017-11-23 16:35] #47 closed

[2017-11-23 20:02] arturdzm opened #51 "Clearly document expected behaviour of setRef()"
As a improvement for user experience it should be allowed to provide a short reference name:
This should be clearly defined in specification document

Example:

[code]

[2017-11-23 20:04] arturdzm opened #52 "Improve model by adding enums to place such Parameter.in, or SecurityScheme.type"
Instead of using String add enums to improve user experience and chance of usage errors

[2017-11-24 17:59] arthurdm opened #55 "Add architecture diagram"
An architectural diagram of the different parts of the spec would help readers understand its scope.  That fits under the "Architecture" portion of the spec.

[2017-11-24 18:35] arthurdm opened #56 "Add a "Filterable" interface"
We introduced the [OASFilter](https://github.com/eclipse/microprofile-open-api/blob/master/api/src/main/java/org/eclipse/microprofile/openapi/OASFilter.java), which allows certain model elements to be filtered.

To make it clear that a certain element will be called via a filter (if any are registered), we should introduce a new interface called "Filterable" that is implemented by any OpenAPI elem

[2017-11-24 19:20] arthurdm commented on #9
Solved by merge https://github.com/eclipse/microprofile-open-api/pull/57

[2017-11-24 19:20] #9 closed

[2017-11-25 00:56] arthurdm commented on #52
Merge https://github.com/eclipse/microprofile-open-api/pull/59 delivered the fix for Parameter.in, but leaving this issue open to address the SecurityScheme.type part.

[2017-11-25 00:56] arthurdm commented on #50
Fixed by https://github.com/eclipse/microprofile-open-api/pull/59.  Thanks!

[2017-11-25 00:56] #50 closed

[2017-11-25 00:56] arthurdm commented on #45
Thanks Artur!  Fixed by merge https://github.com/eclipse/microprofile-open-api/pull/59

[2017-11-25 00:56] #45 closed

[2017-11-27 14:35] arthurdm commented on #56
Actually - after thinking more about this, we probably don't need such interface.  The updates to the spec which describes the OASFilter indicates that you any of the descendants of the element being filtered can also be filtered - so in theory, every single element and attribute of the Model can be filtered via one or more methods in the filter.

[2017-11-27 14:35] #56 closed

[2017-11-27 15:31] arthurdm opened #60 "TCK Annotation coverage"
Our TCK will have 2 core input applications:  Airlines (issue #61) and PetStore (issue #64)

This issue will track the investigation of TCK coverage for each OpenAPI annotation.

So for each of the annotations in the list below:

- check the box of the ones you want to work on
- put a comment saying you're working on Annotation x, y and z.
- investigate if the annotation usage in our sample apps c

[2017-11-27 16:26] arthurdm opened #61 "Port airlines application into TCK"
Porting airlines app (https://github.com/microservices-api/oas3-airlines) to use MicroProfile OpenAPI and to live inside the TCK.

Needs to be able to run via the TCK.

[2017-11-27 16:43] a-saf commented on #61
I'm currently working on this issue

[2017-11-27 17:58] arthurdm opened #62 "Port PetStore app into TCK"
Similar to issue #61 we will need to port the PetStore app into the TCK (using MP OpenAPI annotations instead of Swagger annotations).

We should grab the best sample from within this repo: https://github.com/swagger-api/swagger-samples/tree/2.0/java

[2017-11-27 18:27] a-saf commented on #62
I'll be taking a look into this

[2017-11-27 19:01] arthurdm commented on #61
Application code merged via merge #64. Now we just need to hook that up to the TCK so that it runs against a vendor's impl.

[2017-11-27 19:19] arthurdm commented on #61
@navidsh - will you be looking into hooking this app into the TCK?

[2017-11-27 19:49] arthurdm opened #65 "TCK test for OASModelReader"
We need a new set of TCK tests that covers the OASModelReader.   For simplicity it should use META-INF/microprofile-config.properties to point to the implementation of OASModelReader we're testing.

We need to have tests that add a complete model (with annotation scanning turned off), as well as tests that add a stub model (that boostrap the annotations).

The expected output should be changed acc

[2017-11-27 19:50] arthurdm opened #66 "TCK test for OASFilter"
We need a set of tests for the OASFilter API.  For simplicity, configure it using META-INF/microprofile-config.properties.

We'll need to change the expected output accordingly.

[2017-11-27 19:54] arthurdm opened #67 "TCK tests for static files"
We need a new set of tests for using static (pre-generated) files in META-INF/openapi.

There should be tests where the file is complete (ie: with annotation support turned off), as well as hybrid tests where the static file is supplemented by either the OASModelReader or annotations.

[2017-11-27 19:56] leochr commented on #60
Not able to check the box.

I'll look into the following annotations:

APIResponse
APIResponses
Tag
Tags
Header
Components
OpenAPIDefinition
Contact
Info
License

[2017-11-27 19:57] arthurdm opened #68 "TCK for configuration options"
We'll cover the `mp.openapi.model.reader` and `mp.openapi.filter` configuration options via other issues, but we'll need to cover all the other mp.openapi.* options in our TCK tests.

This issue will track the inclusion of such tests, and their expected outputs.

[2017-11-27 20:07] arthurdm opened #69 "TCK tests for openapi endpoint"
We will be using the `/openapi` endpoint for most of our TCK tests already, but this issue will track the inclusion of specific endpoint tests that will use different `Accept` headers for json and yaml.

[2017-11-27 20:20] janamanoharan commented on #60
I will do:
- [ ] Parameter
- [ ] Parameters
- [ ] RequestBody
- [ ] Operation
- [ ]  Server
- [ ] Servers
- [ ] ServerVariable

[2017-11-27 20:20] turkeylurkey commented on #60
I'll look at

Schema
ArrayScema
DiscriminatorMapping
Encoding

[2017-11-27 20:30] arthurdm commented on #52
Actually - SecurityScheme.type is already in.  Closing this issue.

[2017-11-27 20:30] #52 closed

[2017-11-28 14:42] johnament opened #74 "Fix the build"
https://ci.eclipse.org/microprofile/job/OpenTracing-maven-snapshots/

I disabled the build, since no one was fixing it.  It had been failing for about 2 weeks.

[2017-11-28 14:57] arthurdm commented on #74
@johnament - did you mean to open this in the https://github.com/eclipse/microprofile-opentracing repo?

[2017-11-28 18:25] arthurdm commented on #62
Closing with merge #76.  Thanks @a-saf !

[2017-11-28 18:25] #62 closed

[2017-11-28 19:33] a-saf commented on #60
I'll be working on:

[ ] OAuthFlow
[ ] OAuthFlows
[ ] OAuthScope
[ ] SecurityRequirement
[ ] SecurityRequirements
[ ] SecurityScheme
[ ] SecuritySchemes
[ ] ParameterIn
[ ] ParameterStyle
[ ] SecuritySchemeIn
[ ] SecuritySchemeType
ParameterStyle
SecuritySchemeIn
SecuritySchemeType

[2017-11-28 20:34] arthurdm commented on #60
thanks everyone!  I updated the checkboxes.  Only Explode and Content left.

[2017-11-28 23:33] navidsh commented on #61
@arthurdm I'm working on this issue now.

[2017-11-29 04:25] johnament opened #80 "OASFactory.INSTANCE ignores the resolver set"
If you set the resolver via `OASFactoryResolver.setInstance`, that resolver is not used by invocations to the factory.  The value is set when the class is loaded.

Instead, you should just ask for the resolved instance on each invocation.  I also wonder if this class should be an API, with methods defined, instead of being a static factory?  Maybe a different issue.

[2017-11-29 04:35] #74 closed

[2017-11-29 13:50] arthurdm commented on #80
@leochr / @mrglavas - can you please take a look into this one?

[2017-11-29 14:03] OndrejM commented on #4
Looking at Swagger and OpenAPI, OpenAPI v2 is the same as Swagger v2, but OpenAPI v3 is different. It makes sense to me to support OpenAPI v3 annotations and not Swagger v2, because OpenAPI is a more open and standard initiative under Linux Foundation. @johnament what's wrong with that?

[2017-11-29 14:05] OndrejM commented on #4
In the end, implementations can support both Swagger and OpenAPI if they want, but portable applications shouldn't rely on Swagger annotations.

[2017-11-29 14:13] johnament commented on #4
@OndrejM The question is in reference to what Arthur first brought up on the google group, around [adding support for OpenAPI v3 into Swagger core](https://github.com/swagger-api/swagger-core/issues?q=is%3Aissue+is%3Aopen+label%3A%223.0+spec+support%22)

At this point, it's not clear what the plan is for support OpenAPI v3 in Swagger.  It seems that this has been decided elsewhere, per https://git

[2017-11-29 14:56] EricWittmann commented on #4
Thanks for the clarification, @johnament .  My take on this is still that it will be beneficial in the long run to move everything away from the swagger namespace to avoid confusion between Swagger and OpenAPI.  And I think that includes the annotations.

Hopefully this will avoid developers wondering why they are using Swagger annotations in order to document their OpenAPI v3 APIs.

I would argue

[2017-11-29 15:56] leochr commented on #80
The OASFactory follows the same static resolver pattern as of [ConfigProvider](https://github.com/eclipse/microprofile-config/blob/master/api/src/main/java/org/eclipse/microprofile/config/ConfigProvider.java) from MP Config.

We also posted in the google forum about the static resolver pattern and were told that it's fine/reasonable to expect that there is only one implementation of resolver withi

[2017-11-29 20:24] arthurdm commented on #80
Solved by merge #85

[2017-11-29 20:24] #80 closed

[2017-11-29 22:38] turkeylurkey commented on #60
I'm working on Content.

Explode is part of Parameter.

[2017-11-30 13:43] a-saf commented on #60
Just a note: won't be doing ParameterIn and ParameterStyle, because they are part of Parameter, so they should be covered along with that annotation.

[2017-11-30 17:05] arthurdm commented on #51
API javadoc change

[2017-11-30 17:56] arthurdm commented on #46
Fixed by PR #89

[2017-11-30 17:56] #46 closed

[2017-11-30 20:50] turkeylurkey commented on #51
I'll investigate this.

[2017-12-01 14:23] arthurdm commented on #55
Closing with PR #98

[2017-12-01 14:23] #55 closed

[2017-12-04 14:27] arthurdm opened #100 "additionalProperties only supports Schema"
According to the spec the value of the `additionalProperties` is:

Our model currently only allows Schema

[2017-12-04 20:23] arthurdm opened #101 "Update annotation and models with spec links"
Most of our annotations and model don't have a corresponding OAS spec link.

[2017-12-04 20:24] arthurdm commented on #100
Should be changed to `Object`

[2017-12-04 20:25] arthurdm opened #102 "Release rc1"
Planned for Dec 6, a release candidate of API and spec.

[2017-12-04 20:35] arturdzm opened #103 "Update Schema annotation with enum for type field"

[2017-12-04 20:35] a-saf commented on #101
I will be working on this item

[2017-12-04 20:39] arturdzm opened #105 "Add default value for ParameterIn enum inside annotation"
Right now the current enum forces user to provide a type even if its already provided by
`@QueryParam, @PathParam`, etc JAX-RS annotations
Add DEFAULT("") to the values

[2017-12-04 21:24] navidsh commented on #69
@mrglavas, @turkeylurkey and I are working on this.

[2017-12-04 21:25] navidsh commented on #36
@leochr and @a-saf are working on this issue.

[2017-12-05 01:02] arturdzm commented on #105
Must have overlooked it. It's already correct

[2017-12-05 01:02] #105 closed

[2017-12-05 02:01] arturdzm opened #107 "ServerVariable annotation enumertion default value should be {}"

[2017-12-05 02:29] #107 closed

[2017-12-05 02:30] arthurdm commented on #103
thanks for opening this @arturdzm - will you be creating a PR for this?

[2017-12-05 15:00] EricWittmann commented on #100
I'm on this one. :)

[2017-12-05 15:53] leochr commented on #60
@a-saf @janamanoharan @turkeylurkey
For the annotation you've picked up, please ensure all **attributes** of those annotations are used within either the airlines or petstore app by checking the references to them (in case you are not sure how to do that, in eclipse, select annotation/methods and do either command+shift+G or right click and References->Workspace). Some of the annotations are being

[2017-12-05 15:54] arthurdm commented on #65
@janamanoharan is working on this one.

[2017-12-05 16:02] leochr commented on #60
FYI, If you'll be modifying the airlines app, then there are bunch of referenceable items (from #/components) within org.eclipse.microprofile.openapi.apps.airlines.JAXRSApp (within Components inside of OpenAPIDefinition)

[2017-12-05 16:42] leochr commented on #66
@arthurdm I'll work on this one.

[2017-12-05 18:12] mrglavas commented on #69
We'll want to write assertions which cover each of the annotations. I've copied the checklist below.
Annotation list:
- [ ] Callback
- [ ] Callbacks
- [ ] Components
- [ ] Explode
- [ ] ParameterIn
- [ ] ParameterStyle
- [ ] SecuritySchemeIn
- [ ] SecuritySchemeType
- [ ] Extension
- [ ] Extensions
- [ ] ExternalDocumentation
- [ ] Header
- [ ] Contact
- [ ] Info
- [ ] License
- [ ] Link
- [ ] Lin

[2017-12-05 18:42] mrglavas commented on #69
Going to start with the Info, Contact and License annotations.

[2017-12-05 18:46] leochr commented on #69
I am covering Component, Tag, Tags and Header.

[2017-12-05 19:01] turkeylurkey commented on #69
Starting with Schema

[2017-12-05 19:02] janamanoharan commented on #69
doing
- [ ] Operation

[2017-12-05 19:05] navidsh commented on #69
I'm covering the following annotations:
- ExternalDocumentation
- Server
- Servers
- ServerVariable

[2017-12-05 19:21] a-saf commented on #69
I'll do SecurityScheme and SecurityRequirement

[2017-12-05 19:24] arthurdm commented on #101
Fixed via PR #113

[2017-12-05 19:24] #101 closed

[2017-12-05 19:56] arthurdm commented on #69
thanks everyone. I updated the checkboxes based on the comments.

[2017-12-05 19:57] arthurdm commented on #51
Closed via PR #104

[2017-12-05 19:57] #51 closed

[2017-12-05 20:01] #100 closed

[2017-12-06 01:25] arthurdm commented on #103
Fixed via PR #116

[2017-12-06 01:25] #103 closed

[2017-12-06 17:14] arthurdm commented on #10
Closed via PR #119

[2017-12-06 17:14] #10 closed

[2017-12-06 17:58] arturdzm opened #123 "Parameter model should be constructible to enable reference parameters"
Example:

[code]

[2017-12-06 19:36] mrglavas commented on #69
I'm now working on Operation.

[2017-12-06 21:45] a-saf commented on #69
I'm working on Link, Encoding

[2017-12-07 01:33] arthurdm commented on #123
Although it's true that the above code seems reasonable for the usage of `ref`, I don't necessarily agree that we should make `Parameter` a constructible model because that would mean someone could build `OASFactory.createObject(Parameter.class)` (i.e. a parameter without a specified `in`) and give that back via the filter or model reader.

I vote that we keep the current models, and if someone wa

[2017-12-07 03:27] EricWittmann commented on #123
I agree with Arthur with an H. 😀

[2017-12-07 14:01] arthurdm opened #128 "Minor spec updates to RC1"
- Fix annotation samples where we're using older values from the Swagger library (e.g. the `allowableValues` field from ServerVariable).

- Move the validation paragraph into the limitations section.

- Add a section about CORS in the limitations section

-  Update the spec to have the new `@CallbackOperation` annotation.

Now that RC1 is out (http://download.eclipse.org/microprofile/microprofile-

[2017-12-07 14:08] arthurdm commented on #102
RC1 is now out: https://wiki.eclipse.org/MicroProfile/SpecRelease/Release#How_to_perform_a_release_of_a_final_version

[2017-12-07 14:08] #102 closed

[2017-12-07 14:09] arthurdm commented on #123
Cool - closing this one then.  @arturdzm - thanks for bringing this up.  It was a valid discussion.

[2017-12-07 14:09] #123 closed

[2017-12-07 15:49] arturdzm commented on #123
Sure, sounds good to me.

[2017-12-07 20:10] arthurdm commented on #69
updated checkboxes

[2017-12-07 20:32] arthurdm commented on #128
Closed via PR #132

[2017-12-07 20:32] #128 closed

[2017-12-07 23:28] turkeylurkey commented on #69
I'll handle Extension, Extensions, Example Object

[2017-12-08 02:35] arthurdm commented on #69
updated

[2017-12-08 13:55] arthurdm commented on #61
Closing this via PR #110

[2017-12-08 13:55] #61 closed

[2017-12-08 13:57] arthurdm commented on #60
Closing this one via the various PRs that were contributed (see them above).

[2017-12-08 13:57] #60 closed

[2017-12-08 15:12] a-saf commented on #69
Also doing OAuthFlow, OAuthFlows, OAuthScope, as these relate to SecurityScheme (confirmed this with Jana @janamanoharan).
@arthurdm Also completed LinkParameter, and SecuritySchemeIn/SecuritySchemeType (these are enums for SecurityScheme annotation)

[2017-12-08 16:51] leochr commented on #69
I am working on Content

[2017-12-08 19:23] arthurdm commented on #13
Closing this as we have other issues to handle the remaining TCK portions

[2017-12-08 19:23] #13 closed

[2017-12-08 22:27] turkeylurkey commented on #69
I am working on DiscriminatorMapping

[2017-12-11 18:41] mrglavas commented on #67
I am working on assertions for the static file.

[2017-12-13 19:09] a-saf commented on #36
Merged PR #157 contains the sample of OASModelReader implementation for airlines app

[2017-12-14 15:39] leochr commented on #66
TCK tests for filter were delivered by these pull requests: #158 #160

[2017-12-14 19:37] arthurdm commented on #69
All done - thanks everyone!

[2017-12-14 19:41] #69 closed

[2017-12-14 19:41] arthurdm commented on #68
Thanks everyone.

[2017-12-14 19:41] #68 closed

[2017-12-14 19:42] arthurdm commented on #67
Thanks to everyone who contributed to this.

[2017-12-14 19:42] #67 closed

[2017-12-14 19:42] arthurdm commented on #66
Thanks @leochr

[2017-12-14 19:42] #66 closed

[2017-12-14 19:42] arthurdm commented on #65
Thanks everyone who contributed to this.

[2017-12-14 19:42] #65 closed

[2017-12-15 14:45] arthurdm opened #175 "Enhance javadocs"
The javadocs of our 1.0 release show up without a proper package description:
 http://download.eclipse.org/microprofile/microprofile-open-api-1.0/apidocs/

We should fix that for the next release.

[2017-12-16 19:14] arthurdm commented on #26
Completed.

[2017-12-16 19:14] #26 closed

[2018-01-17 18:40] arthurdm opened #177 "Update spec based on OAS 3.0.1"
The MP OpenAPI 1.0 spec was based on OAS 3.0.0

Now that OAS 3.0.1 is out (https://github.com/OAI/OpenAPI-Specification/releases/tag/3.0.1) this item will go over the changes and propose any updates to MP OpenAPI (for the 1.1 version)

[2018-01-17 19:35] EricWittmann opened #178 "@Schema maximum and minimum are Strings?"
For example, the `@Schema` annotation has this property:

https://github.com/eclipse/microprofile-open-api/blob/master/api/src/main/java/org/eclipse/microprofile/openapi/annotations/media/Schema.java#L113-L119

[code]

The data model defines these properties as `BigDecimal`.  Can I assume that this is done because java annotations don't support `BigDecimal` as a type for a property and that no oth

[2018-01-17 19:43] EricWittmann commented on #178
Note that the `Schema` model also has the property `multipleOf` which required a BigDecimal, but the corresponding property of the annotation is `double`.

[2018-01-23 17:32] EricWittmann opened #179 "Bug in the TCK Airlines test"
There seems to be a typo in [the testCallbackOperationAnnotations method of the AirlinesAppTest test](https://github.com/eclipse/microprofile-open-api/blob/master/tck/src/main/java/org/eclipse/microprofile/openapi/tck/AirlinesAppTest.java#L428):

[code]

There is a missing . before the get, and a missing `.schema` before the `type`.   The line should be:

[code]

[2018-01-23 19:04] arturdzm opened #181 "TCK config tests asserts are incorrect"
- OASConfigScanPackageTest
- OASConfigScanClassesTest
- OASConfigScanClassTest

The tests include asserts for info.title and info.version
However they don't include application class with @Info to be scanned

[2018-01-23 20:02] EricWittmann opened #183 "Invalid assertion in AirlinesAppTest::testCallbackOperationAnnotations"
Here is [the assertion I think is problematic](https://github.com/eclipse/microprofile-open-api/blob/master/tck/src/main/java/org/eclipse/microprofile/openapi/tck/AirlinesAppTest.java#L434):

[code]

The above assertion appears to be verifying [this part of the airlines test app](https://github.com/eclipse/microprofile-open-api/blob/master/tck/src/main/java/org/eclipse/microprofile/openapi/apps/ai

[2018-01-23 21:30] EricWittmann opened #184 "Invalid assertions in AirlinesAppTest.testExampleObject()"
In the `AirlinesAppTest` there is a method called `testExampleObject` with [the following two assertions](https://github.com/eclipse/microprofile-open-api/blob/master/tck/src/main/java/org/eclipse/microprofile/openapi/tck/AirlinesAppTest.java#L658-L662):

[code]

I don't think either of these paths are possible in OAI 3.  For one thing, a `Content` object in OAI is always a map of `MediaType` obje

[2018-01-24 14:18] EricWittmann commented on #184
OK, I had some time to put together valid OAI markup for this.  Here it is:

[code]

The problem is that the `Content` must have a media type and the `Example` must have a name.  See the two properties in all-caps.  In the above TCK `@Parameter` code, what should those two values be?  My current implementation doesn't generate anything past the `Content` object because of the missing names (media

[2018-01-24 14:52] arthurdm commented on #184
Ya, I think there's an issue in that assertion.

Here's a sample output right from the OAS3 spec:

[code]
Some open question would be:
- what is the default media type if `@Consumes` is not specified?   Should it be `*/*`?
- what is the default example name?   maybe `name` is required?

[2018-01-24 14:53] EricWittmann commented on #184
Yes, those are the open questions!  Exactly.  :)

I also +1 both of your suggested solutions.

[2018-01-24 16:39] arthurdm commented on #183
thanks @EricWittmann

I agree something is up with the assertion here.   We can discuss the ref vs inline at the next hangout (my view is that `ref` and `implementation` are two types of references, thus shouldn't be inlined), but I think the assertion should be indeed changes to take into consideration the `items` level before the ref as the resulting OAS code is likely:

[code]

[2018-01-24 16:45] #179 closed

[2018-01-24 17:11] EricWittmann commented on #183
Yes, let's discuss next hangout for sure.  I can be convinced certainly, but it might be more complicated than you expect.

Here is one thing to consider (from the spec) when we have that hangout:

[2018-01-24 18:01] arthurdm commented on #183
yup, that's a good point.   Perhaps there's a middle ground we can reach where if a schema is referenced via `implementation` and nothing is overridden (like the sample above) then it's a `$ref`.  If `implementation` is there but any other schema fields/attributes are overridden then it becomes inlined?

[2018-01-24 18:12] EricWittmann commented on #183
Yeah that might work.  We can discuss further next week.  :)

[2018-01-24 18:13] arthurdm commented on #181
fixed via PR #182

[2018-01-24 18:13] #181 closed

[2018-01-24 20:03] EricWittmann opened #185 "Problem with MyOASModelReaderImpl constructing Link Parameters"
[The following code](https://github.com/eclipse/microprofile-open-api/blob/master/tck/src/main/java/org/eclipse/microprofile/openapi/reader/MyOASModelReaderImpl.java#L165-L169) can be found in the `MyOASModelReaderImpl` class:

[code]

The `MyOASModelReaderImpl` class is used in the `ModelReaderAppTest` to programmatically create an OAI document.

The problem is that a link parameter should be a s

[2018-01-25 01:38] EricWittmann opened #187 "Liberty-specific assertion in OASConfigScanDisableTest"
[The following code](https://github.com/eclipse/microprofile-open-api/blob/master/tck/src/main/java/org/eclipse/microprofile/openapi/tck/OASConfigScanDisableTest.java#L43-L50) can be found in the **OASConfigScanDisableTest** test:

[code]

I suggest only asserting on the openapi version (and even then looking for 3.0.x rather than 3.0.0) and the paths.  Perhaps also check for empty/missing compone

[2018-01-26 16:45] EricWittmann opened #191 "TCK expects UserResource.createUsersWithArrayInput() to have a RequestBody"
From AirlinesAppTest:

[code]

However, the `UserResource.createUsersWithArrayInput()` doesn't seem to have a request body.  Even though the method is a `@POST`, the input seems to come in via a query parameter, and there is no `@Consumes` annotation on the method.

I don't think this method **should** have a request body, based on its current definition and annotations.

[2018-01-26 20:40] #185 closed

[2018-01-29 02:29] arthurdm commented on #191
+1 @EricWittmann

Hey @leochr / @arturdzm  - I believe either the test should be changed to look for the parameter (instead of request body), or the app itself should be changed to describe a `@RequestBody` instead of `@Parameter`.

[2018-01-29 23:09] leochr opened #195 "Update server configurations tests"
The [server configurations](https://github.com/eclipse/microprofile-open-api/blob/master/tck/src/main/resources/server-microprofile-config.properties) and the [tests](https://github.com/eclipse/microprofile-open-api/blob/8f8888bb161594a67b1e99bbb4064cc52514d95b/tck/src/main/java/org/eclipse/microprofile/openapi/tck/OASConfigServersTest.java#L45) don't match.

Also, adding some additional checks to

[2018-01-30 14:58] EricWittmann opened #197 "TCK test ModelReaderAppTest has an unused method: testAvailabilityGetParamater"

[2018-01-30 20:23] arthurdm commented on #187
merged.

[2018-01-30 20:23] #187 closed

[2018-01-30 20:25] arthurdm commented on #191
merged via #194

[2018-01-30 20:25] #191 closed

[2018-01-30 20:25] arthurdm commented on #195
merged via #196

[2018-01-30 20:25] #195 closed

[2018-01-30 20:26] arthurdm commented on #197
@leochr

[2018-01-30 20:27] arthurdm commented on #184
merged

[2018-01-30 20:27] #184 closed

[2018-01-31 15:19] EricWittmann opened #198 "@Schema.implementation -> $ref should be vendor specific"
Several TCK tests assume that the following annotation will result in a $ref in the OAI document:

[code]

For a variety of reasons discussed on yesterday's call, we have decided that the TCK should not require vendors to create a reference in the above case.  It's acceptable for a vendor to instead inline the schema definition.

For this reason, we should change the TCK apps to use `ref` instead

[2018-01-31 17:12] leochr commented on #197
Checked with Anna Safonov who authored the ModelReaderAppTest and she believes that the test is missing the annotation tags. It's meant to test the construction of Parameters via programming models. Anna will make the necessary changes, verify that the test is correct/passes and make a PR.

[2018-01-31 17:18] mkouba opened #201 "TCK: Change the way additional artifacts are added to the test deployment"
TCK should not require additional artifacts in the lib dir of the runner project. Instead, [ShrinkWrap Maven Resolver](https://github.com/shrinkwrap/resolver) could be used so that the tck runner does not have to manage the dependencies, versions, etc.

[2018-01-31 17:39] EricWittmann commented on #197
For reference:  https://github.com/eclipse/microprofile-open-api/blob/master/tck/src/main/java/org/eclipse/microprofile/openapi/tck/ModelReaderAppTest.java#L156-L183

[2018-01-31 22:26] mkouba opened #203 "TCK: There is no need to deploy additional proxy.war"
`AppTestBase` currently deploys an additional `proxy.war` for each tck test. This implies that the target Arquillian container **must support** multiple deployments. However, it seems that the only purpose of this deployment is to convert YAML to JSON. I believe that this could be handled on the client side and thus the "proxy" deployment is not necessary. The logic from `YamlToJsonConverterServle

[2018-01-31 22:46] EricWittmann commented on #203
Yeah I noticed that as well (the proxy servlet) but didn't realize it was a separate deployment.  +1 to this sentiment.  No reason it can't be converted client-side assuming rest assured has some hooks.

[2018-02-04 21:51] arthurdm commented on #201
@navidsh - I think you were looking into this as well?

[2018-02-04 21:53] arthurdm commented on #203
@navidsh - thoughts on this?

[2018-02-04 21:59] arthurdm commented on #198
Closed by PR #199

[2018-02-04 21:59] #198 closed

[2018-02-05 15:35] navidsh commented on #201
@mkouba we are looking Maven Resolver to handle that. We'll create a PR to fix this.

[2018-02-05 15:36] mkouba commented on #201
That's great. Thanks.

[2018-02-05 15:48] mkouba commented on #203
It seems that `io.restassured.filter.Filter` together with `io.restassured.builder.ResponseBuilder` could be used to perform the conversion? I can try to send a PR if needed.

[2018-02-05 15:57] navidsh commented on #203
I looked into the rest assured javadoc and couldn't find a way to add a new parser. Looks like it only works with a couple of [predefined parsers](http://static.javadoc.io/io.rest-assured/rest-assured/3.0.2/io/restassured/RestAssured.html) and YAML isn't one of the [parsers](http://static.javadoc.io/io.rest-assured/rest-assured/3.0.2/io/restassured/parsing/Parser.html):

But it looks like a `Filte

[2018-02-05 16:14] mkouba commented on #203
I'll try to send a PR tomorrow.

[2018-02-05 21:41] EricWittmann commented on #198
PR 199 closed issue 198!  SOOOO close!

[2018-02-06 08:51] mkouba commented on #201
Actually, it seems this change is not necessary if we manage to fix #203.

[2018-02-06 17:58] #203 closed

[2018-02-06 18:01] arthurdm commented on #201
Thanks guys.  Closing this as #203 was closed.  Thanks again for the contribution @mkouba

[2018-02-06 18:01] #201 closed

[2018-02-06 18:21] arthurdm commented on #197
Fixed by PR #202

[2018-02-06 18:21] #197 closed

[2018-02-06 18:22] arthurdm commented on #183
Fixed by PR #199

[2018-02-06 18:22] #183 closed

[2018-02-06 21:38] leochr opened #207 "Add more TCK tests for Filter"
Existing Filter tests covers the base scenarios and ensures the processing rules related to Filter. It also ensures that `filterOpenAPI` methods is called last and filterable descendant elements of a filtered element are called before its ancestor.

However, it doesn't test every single filterable elements for the above mentioned cases. The purpose of this issue to add more tests to cover all filt

[2018-02-06 21:42] leochr commented on #207
@arthurdm opened this issue for the gap in TCK tests for Filter that I mentioned earlier today.

[2018-02-07 19:23] arthurdm commented on #207
Thanks @leochr

I have added this to the list of candidates for the next release, `1.1`.

[2018-02-12 15:21] arthurdm opened #208 "Investigate the support for regular servlets"
Our current MP OpenAPI spec only supports JAXRS web modules.  This issue will track the investigation on whether supporting regular servlets (like the Swagger libraries do) should be part of a future spec.

The main points that favour this support are:
- servlets are lighter weight than JAXRS modules
- older apps may be built on servlets

If we decide on supporting servlets, the next question is:

[2018-02-23 23:16] msavy commented on #178
Just a quick thought: could Hibernate's `@Size` annotation serve as some inspiration? It has a variety of properties that allow you to constrain in a variety of ways, such as `@Digits(integer=10, fraction=2)`.

[2018-02-26 18:23] mrglavas opened #209 "The TCK airlines application should produce a valid OpenAPI document."
Loading the TCK airlines application and running it through OpenLiberty's validator produced the following errors:

- Message: Required "scopes" field is missing or is set to an invalid value, Location: `#/components/securitySchemes/reviewoauth2/flows/authorizationCode`
 - Message: Required "scopes" field is missing or is set to an invalid value, Location: `#/components/securitySchemes/reviewoauth

[2018-02-26 18:26] mrglavas commented on #209
Should verify whether these errors are legitimate by checking the constraints in the OpenAPI specification and then fix them.

[2018-02-27 21:17] mrglavas opened #210 "Add package documentation for the OpenAPI model."
There should be package level documentation for the OpenAPI model which describes its purpose and usage. It should probably also clearly state that the behaviour of methods inherited from java.lang.Object are undefined by the MicroProfile OpenAPI specification.

[2018-02-28 13:40] arthurdm commented on #210
Thanks @mrglavas - definitely we should fix this.  I wonder if this particular case is covered by https://github.com/eclipse/microprofile-open-api/issues/175?

[2018-02-28 16:19] mrglavas commented on #210
@arthurdm Yes, would fit underneath the broader work item.

[2018-02-28 18:40] arthurdm commented on #175
From issue #210 : "There should be package level documentation for the OpenAPI model which describes its purpose and usage. It should probably also clearly state that the behaviour of methods inherited from java.lang.Object are undefined by the MicroProfile OpenAPI specification."

[2018-02-28 18:40] arthurdm commented on #210
Sounds good.  I added this comment into #175, so will close this item so that we have a single place to track this.

[2018-02-28 18:40] #210 closed

[2018-03-29 18:02] arthurdm opened #212 "Investigate the addition of an SPI"
The MP OpenAPI spec specifies how to fetch the OpenAPI v3 doc for a single application at `/openapi`.  However, the application server that runs this applications likely has other RESTful APIs that it wants to expose - not from applications, but from the server itself.  Examples include other MicroProfile specs, such as `/health` and `/metrics`, as well as other potential endpoints such as an Open

[2018-04-09 14:35] arthurdm commented on #177
Agreed the TCK should allow for 3.0.x versions - and likely the vendor implementations should allow for 3.0.x as well so that we can support micro changes to the spec.

[2018-05-06 23:58] arthurdm commented on #208
We discussed this on the April 23, 2018 hangout and agreed that supporting regular non-JAXRS servlet is not strategic for the MP OpenAPI specification, as this would create a very large amount of overlap with current JAXRS annotations & related components.

[2018-05-06 23:58] #208 closed

[2018-05-06 23:59] arthurdm commented on #177
This was fixed via PR #188

[2018-05-06 23:59] #177 closed

[2018-05-07 00:03] arthurdm opened #214 "Support EE8 / JAX-RS 2.1"
This item will investigate what changes are required to the spec in order to claim support for EE8, in specific for JAX-RS 2.1.

The changes to this spec should be backwards compatible with our current EE7 / JAX-RS 2.0 version.

One of the more interesting aspects from JAX-RS 2.1 is the concept of a server-sent events, which can potentially map to callbacks.

[2018-05-07 12:51] ivanjunckes commented on #212
+1, I like the proposal.

[2018-05-14 18:46] arthurdm opened #215 "Update wiki with samples"
We currently have a [wiki](https://github.com/eclipse/microprofile-open-api/wiki) with an empty skeleton:

- [x] Annotation Samples
- [x] OASModelReader Samples
- [x] OASFilter Samples
- [x] Static File Samples
- [x] Configuration Samples

This workitem will track the completion of these sub pages.

[2018-05-14 18:47] arthurdm commented on #215
@a-saf will be working on this.

[2018-05-14 18:47] arthurdm commented on #36
Closing - will be finished via https://github.com/eclipse/microprofile-open-api/issues/215

[2018-05-14 18:47] #36 closed

[2018-05-14 18:47] arthurdm commented on #12
Closing - to be tracked via https://github.com/eclipse/microprofile-open-api/issues/215

[2018-05-14 18:47] #12 closed

[2018-05-14 18:48] arthurdm commented on #11
Closing - to be tracked via https://github.com/eclipse/microprofile-open-api/issues/215

[2018-05-14 18:48] #11 closed

[2018-05-15 19:56] arthurdm opened #216 "Support singular example in Content annotation"
At the moment our `@Content` annotation only supports an array of `ExampleObject`, however, our `Content` **model** correctly supports both the array and the single `example`, as per the OAS3 spec.

This workitem will include the single example inside the `@Content` annotation, so that a simple / single example can be given without affecting the underlying `@Schema`, since it could be referenced f

[2018-05-17 09:41] MattGill98 opened #217 "TCK Bugs?"
Hi, I was hoping someone wouldn't mind helping me clarify a few problems I've encountered when working with the TCK.

Firstly, the adding of the `microprofile-config.properties` seems strange. In the Config API TCK, this file is added using this line:
[code]
This adds the file to `WEB-INF/classes/META-INF`, which is on the application class path.
In the OpenAPI TCK however, this file is added usin

[2018-05-17 12:53] arthurdm commented on #217
hey @MattGill98 - thanks a lot for the feedback.

For the first issue, I believe it's a gap in the MP Config TCK, as [its design](https://github.com/eclipse/microprofile-config#design) outlines that `META-INF/microprofile-config.properties` should be picked up by the config processor.

I agree with your observation of the second issue.  I propose that we update the path of `getReviewByUser` to be

[2018-05-17 13:05] MattGill98 commented on #217
Hi Arthur,

Thank you for your prompt response. That's not a problem. That being the case, I'll raise an issue for the Config API project!

That would work absolutely fine. I'll make a pull request making this change.

Kind regards,

Matt

[2018-05-17 13:39] MattGill98 commented on #217
Hi @arthurdm,

Just following up on the first issue again. I found that the issue raised [here](https://github.com/eclipse/microprofile-config/issues/268) on the Config API project specified that for a WAR file the `META-INF` location should be `WEB-INF/classes/META-INF`, since it's on the classpath. Does this change anything with regard to the first issue?

Kind regards,

Matt

[2018-05-18 11:45] smillidge commented on #217
My understanding of the Config API is that for a war file the properties should be under WEB-INF/classes/META-INF see https://github.com/eclipse/microprofile-config/issues/268

[2018-05-18 15:29] arthurdm commented on #217
thanks for the discussion guys.

My view on this subject is that the MP OpenAPI spec has defined `META-INF` as the place that we require `users` to place their static OAS3 files (if any), so it wouldn't make sense to prevent them from also putting their properties files in that directory.  We have samples in the spec that demonstrate the properties file being picked up from `META-INF/`, but perhap

[2018-05-18 16:07] smillidge commented on #217
I am pretty sure there is an explicit test in the Config api TCK that checks that in a war the properties file is in WEB-INF/classes/META-INF so not sure this will work

[2018-05-18 16:55] arthurdm commented on #217
Right - I agree that the MP Config TCK is checking for the `WEB-INF/classes/META-INF` as a default config source.

My argument is that the MP OpenAPI spec (not MP Config spec) defined that `META-INF` (top level in the web module, either WAR or WAB/OSGi) is a place where vendors need to look `in-addition` to any of the default MP Config sources.   I think that wording needs to be expressed more exp

[2018-05-18 17:53] arjantijms commented on #217
Just curious, but what was the thought process for that particular directory to be chosen? META-INF in a war archive is a rather unusual location really.

[2018-05-18 20:08] arthurdm commented on #217
hey @arjantijms - it was deemed a reasonable place for metadata (i.e. OpenAPI description) of the app.

[2018-05-19 00:46] arthurdm opened #221 "Clarify location of spec artifacts"
This issue will take a look at the spec, decide what is the appropriate design, and further clarify the location of the various artifacts, such as the OpenAPI static file / snippet, and property files.

[2018-05-19 00:49] arthurdm commented on #217
PR #218 (first issue) was merged - thx again @MattGill98

I have opened #221 to continue the work outlined here in terms of clarifying the location of the specs.

Closing this issue.

[2018-05-19 00:49] #217 closed

[2018-05-19 10:03] OndrejM commented on #221
It's always been confusing where the location of config files is in a WAR file - JPA persistence.xml is supposed to be in classes/META-INF but CDI's beans.xml should be in WEB-INF/beans.xml.

Though, I haven't seen a solution where a file is expected in the root `META-INF` folder in case of a WAR file as the MP Open API spec now mandates. In maven projects, `META-INF` is usually placed in `src/mai

[2018-05-19 10:09] OndrejM commented on #217
@arthurdm

Just a note - I think you misunderstood the [MP config design](https://github.com/eclipse/microprofile-config#design) because it clearly says that the path should be on the classpath, while in a WAR, this is in `WEB-INF/classes` and not in the root. It's also mentioned in [the spec itself](https://github.com/eclipse/microprofile-config/blob/master/spec/src/main/asciidoc/configsources.as

[2018-05-19 10:37] arjantijms commented on #217
Hi @arthurdm

Are there any minutes of that decision, and the people who deemed that, had any of them used or worked with war archives before? My feeling says someone may have thought about a regular .jar file and didn't know exactly what a .war file is. As I think this is a spec bug, I'll file a separate issue for this where it might be better to continue this conversation.

[2018-05-19 10:44] arjantijms opened #222 "Deprecate [war root]/META-INF location"
MP Open API currently specifies `[war root]/META-INF` for certain files to be placed as well as a MP Config properties file.

`[war root]/META-INF` is however a highly unusual location, and doesn't align with any existing conventions in either MicroProfile, Java EE, or related technologies.

In fact, the usage of this folder is so alien for war archives that I think we should consider it to be a s

[2018-05-19 12:45] arthurdm commented on #221
thanks a lot for outlining these different alternatives @OndrejM - it helps to see the all in one place.

Part of the motivation for the `root/META-INF` location was to make it simple to augment an existing WAR (with either a OAS3 doc or a properties file that configured the API scanner) so that it produced the resulting `/openapi` endpoint and enabled this app to participate in the "API Economy".

[2018-05-19 16:43] arjantijms commented on #221
@arthurdm

I wonder, is that a real scenario? If you can touch `[web root]/META-INF`, why wouldn't you be able to touch `[web root]/WEB-INF/classes` or even simpler `[web root]/WEB-INF/`?

[2018-05-19 16:45] arjantijms commented on #221
From #222

MP Open API currently specifies [war root]/META-INF for certain files to be placed as well as a MP Config properties file.

I though this issue (#221) was different, since this one just asks for clarification, while #222 specifically asks for deprecation, but if everything can be handled here that's fine too.

[2018-05-19 18:40] arthurdm commented on #221
thanks @arjantijms  - this issue will decide which way we go forward in `1.1` and explicitly clarify that decision in the spec.

[2018-05-19 18:41] arthurdm commented on #222
Closing as dup of https://github.com/eclipse/microprofile-open-api/issues/221#issuecomment-390417274

[2018-05-19 18:41] #222 closed

[2018-05-19 19:04] arthurdm commented on #221
@arjantijms / @OndrejM - one such example is Tomcat's usage of [context.xml](https://tomcat.apache.org/tomcat-7.0-doc/jndi-resources-howto.html#context.xml_configuration), which sets per-web app configuration at the `<root>/META-INF/context.xml`.

[2018-05-20 14:49] arjantijms commented on #221
That one is however not a configuration file that belongs to a spec implemented by Tomcat and/or a spec module bundled in WEB-INF/lib.

context.xml is more akin to domain.xml in Payara and standalone.xml in JBoss. You typically put that file outside the archive (in a server folder). Tomcat in fact treats it like that, as in it copies context.xml from the war using low level code to the usual locat

[2018-05-20 21:36] arthurdm commented on #221
It demonstrates there's is precedence for using `<root>/META-INF` beyond EE specs.  [WebSphere Liberty](https://www.ibm.com/support/knowledgecenter/en/SS7K4U_liberty/com.ibm.websphere.wlp.zseries.doc/ae/twlp_api_discovery.html) has also used `<root>/META-INF` for its Swagger documents and `<root>/META-INF/stub` for its partial Swagger documents.

Also, the fact that Java SE uses `<root>/META-INF/s

[2018-05-20 22:59] arjantijms commented on #221
I'll check the liberty example to see if they actually mean `[war root]/META-INF` and not "a" `META-INF` that's found on the classpath of the web module.

I don't think Tomcat is a valid example really. It doesn't process or read `context.xml` from META-INF, but practically the war is extracted, the file is copied to its usual location (if there's no file there already), and only from there is the

[2018-05-21 12:05] kenfinnigan commented on #221
One thing I'd like to make sure is that OpenAPI doesn't define only locations that are specific to `WAR` files, as `JAR` is still a perfectly valid deployment package type

[2018-05-21 13:26] arthurdm commented on #221
+1 @kenfinnigan

I think a lot of the arguments in this thread are geared solely for `WAR`, which is `one of` the deployment patterns, but not the only one.    Having the OAS3 doc in the `<root>/META-INF` allows it to apply to any deployment pattern derived from `jar` (WAR, OSGi app, Jar, etc), which is one of the reasons why Liberty chose that location even for the Swagger document support back i

[2018-05-21 18:20] arjantijms commented on #221
Hi,

On Mon, May 21, 2018 at 1:05 PM, Ken Finnigan <notifications@github.com>
wrote:

You mean an EJB jar? Are these supported by MicroProfile?

[2018-05-22 02:30] kenfinnigan commented on #221
No, I mean any old JAR.

MicroProfile does not dictate the packaging format as WAR or JAR, it could be either, and certainly some implementations support one or the other or both.

My concern was that it seemed to be pointing towards a WAR specific location being mentioned in the spec, which is I said that it needs to work for WAR or JAR structures

[2018-05-23 13:06] EricWittmann commented on #212
The use-case question is a good one.  The main use case (it seems to me) is that of "discovery" of features provided by the MP platform.  But I think to support that use case we would need to tweak this proposal a bit in one of two ways:

1) Merge all provided OpenAPI documents into one single "platform" or "providers" definition rather than expose each on a separate endpoint.  Perhaps `/openapi/p

[2018-05-23 15:09] arthurdm commented on #212
hey @kenfinnigan / @EricWittmann

tl;dr - it's about standardizing (via OAS3) discoverability and invocation of platform services

Longer version:

The use case is the discovery of the platform REST endpoints that this MP vendor / app server provides.  These platform endpoints don't necessarily need to be MP specs themselves (eg: OpenID Connect endpoint), but they `can be` (eg: health and metrics)

[2018-05-23 17:39] kenfinnigan commented on #212
In my view everything you've described as the reason to provide this can be possible, but they're also things that should be secured to prevent malicious use of the endpoints.

If the endpoints are secured the question then becomes whether the OpenAPI doc should also be secured, which I think it does otherwise you're exposing "management" type endpoints.

So if the endpoints and the OpenAPI doc ar

[2018-05-23 18:58] arthurdm commented on #212
At the end of the day it's up to the service owner on whether they participate in this SPI and expose their RESTful service as OpenAPI - if they feel that doing so would jeopardize security or just don't feel it's necessary, then they just don't `opt-in` to the SPI.

In my view, all RESTful services should have an OpenAPI that describes it - afterall, `someone, somewhere` will be consuming that en

[2018-05-27 14:37] rmannibucau opened #223 "API uses default methods"
API uses default methods which leads to not use any implementation in some cases and therefore a wrong behavior. It should load a provider and delegate to it the execution instead.

[2018-05-27 14:39] rmannibucau opened #224 "Package OASFactoryResolver into an SPI artifact"
This method seems to be an implementation leak. OSGi is able to use SPI today (with spy fly) so no need of it.

[2018-05-28 14:33] arthurdm commented on #223
hey @rmannibucau - thanks for the feedback.   Can you please clarify which API you're referring to, and which scenario this is causing an incorrect behaviour?

[2018-05-28 14:36] arthurdm commented on #224
hey @rmannibucau - that method helps vendors remains flexible with their implementation of the spec.  If a particular vendor doesn't need to set the method, that's totally fine, but I wouldn't want to break backwards compatibility with the spec just to remove it.

[2018-05-28 14:48] rmannibucau commented on #223
Hello @arthurdm ,

OASFilter for instance.

Issue is if the API is present you can do a new OASFilter() {} and use the instance but nothing is implemented. For a spec API it is a good practise to keep the method not defaults until the default implementation is valid/optional (filter::init in servlet for instance can be a noop but OASFilter::filterPathItem can't).

[2018-05-28 14:50] rmannibucau commented on #224
Then it must be forbidden to change it once it was set otherwise - currently - it is not thread safe and leads to easy to get bugs :(. This is why removing it is fine IMO since it is not usable already ATM. Vendors don't need it anyway for their impl since the SPI will be supported (with a service loader or not) in all environments (vendors are used to switch the API for such needs which avoid to

[2018-05-28 15:59] arthurdm commented on #223
The reason behind the defaults is so that implementers of the `OASFilter` interface aren't forced to implement every method - they just pick the ones they are interested in, and the others are no-ops.

This saved us from having to do add an abstract class implementation with the no-ops.

[2018-05-28 16:04] arthurdm commented on #224
Open Liberty currently [uses](https://github.com/OpenLiberty/open-liberty/blob/368348c7bf88b3295f8629b15437b0515157479d/dev/com.ibm.ws.microprofile.openapi/src/com/ibm/ws/microprofile/openapi/OASFactoryResolverImpl.java#L117) that method.

If you see multi-thread bugs with it, can you please open a separate issue?

[2018-05-28 16:20] rmannibucau commented on #223
I got that point but the API is really big and therefore its scope is fully uncontrolled on the user side which means it will not be that portable at the end using defaults. We already had some bad surprises with defaults so probably saner to not do it again.

[2018-05-28 16:32] rmannibucau commented on #224
@arthurdm I know but OpenLiberty can drop it without any issue too technically. On a user side it just open ways to break the app and on a framework side it enables a framework to not be compatible with another one so can only see the "quickfix" usage of that method. Since MP-openapi is not yet really used I'd rather break the API now with a versioning upgrade rather than keeping it and breaking a

[2018-05-29 10:09] Emily-Jiang commented on #224
Without the setter, OSGi enviroment has to use spi fly, which is a big ask.
The setter is a much simpler approach.

Romain Manni-Bucau <notifications@github.com> 于 2018年5月28日 周一 17:32写道：

[2018-05-29 10:18] rmannibucau commented on #224
@Emily-Jiang spifly or the ProviderLocator pattern of Geronimo (this one is not a big ask ;)). The issue with that setter is you ensure you break users and prevent libs to use a clean API (= promise of issues). This is my concern.

[2018-05-29 13:43] arthurdm commented on #224
@rmannibucau - it's still not clear to me what issues you're seeing with the current design.  Can you share some code that would help illustrate its problems?

[2018-05-29 13:46] arthurdm commented on #223
What do you mean by `fully uncontrolled on the user side`?   The user overrides exactly what they want to override.  Why wouldn't this be portable?  The defaults are in the spec - that makes it `more` portable.

[2018-05-29 13:50] rmannibucau commented on #224
@arthurdm take a lib using this setter cause it wants to decorate the resolver and nested components, take another lib finding this idea very neat and doing the same, take a user doing the same for its app or company, take the container and finally take a user doing it to switch between provider at runtime during any request. All these use cases are broken. Putting an API must be with the guarante

[2018-05-29 13:55] kenfinnigan commented on #224
It does appear that `setInstance` should at least check whether it's already been set before blindly replacing what's there.

This may very well be an issue in other specs as well, as I believe the same pattern has been applied to them all for OSGI

[2018-05-29 13:57] rmannibucau commented on #224
I didn't see any singleton like this one is jwt-auth, config and opentracing so don't think it is a mainstream pattern.

[2018-05-29 13:58] rmannibucau commented on #223
Not really. If that's true it means the design is a "put it all in the same bag" one and should probably be split. Using at runtime filter methods which don't filter anything is not very user friendly + it prevents runtime optimizations so it should probably be rethought deeper than the original context of this ticket :(.

[2018-05-29 14:02] kenfinnigan commented on #224
The two below are other instances I've found:

https://github.com/eclipse/microprofile-config/blob/master/api/src/main/java/org/eclipse/microprofile/config/spi/ConfigProviderResolver.java#L173
https://github.com/eclipse/microprofile-rest-client/blob/master/api/src/main/java/org/eclipse/microprofile/rest/client/spi/RestClientBuilderResolver.java#L129

[2018-05-29 14:08] rmannibucau commented on #224
Ok, config one should be dropped as well (i will open a ticket), it is not used by most vendors anyway and has the same pitfall
Rest client one is in the same case

Technically no real way to defend it so +1 to drop it

[2018-05-29 14:52] Emily-Jiang commented on #224
How many OSGi runtimes have you searched? This is designed for OSGi runtime
without the need of dragging along spifly ir other service loadder support.
This is SPI class though.

Romain Manni-Bucau <notifications@github.com> 于 2018年5月29日 周二 15:08写道：

[2018-05-29 14:54] rmannibucau commented on #224
@Emily-Jiang some dozens (geronimo spec jars). I understand why it was introduced but you explain it yourself: it is an internal of OSGi so why does it surface in a user API? this was likely an error and quick workaround so time to clean it (this is what this issue is about).

[2018-05-29 15:21] arthurdm commented on #224
this is an **SPI**, not an **API**.   SPIs are for internal bundles from the vendor, not for user applications.

So this is meant to be for vendors to set their one and only OpenAPI-factory.

[2018-05-29 15:22] rmannibucau commented on #224
Not really, a lot of SPI are user facing (check out deltapsike for instance) so SPI are API at the end, just with a more precise meaning.

[2018-05-29 15:23] arthurdm commented on #223
You're suggesting having an interface per method?

[2018-05-29 15:24] arthurdm commented on #224
ok - so that's the source of confusion - you and I, and perhaps a lot others, have a different view on what SPIs are.   In Open Liberty SPIs are not exposed to user applications.

[2018-05-29 15:28] kenfinnigan commented on #224
I think the issue boils down to an `spi` package being in the `api` artifact.

So there's nothing preventing a user from utilizing classes from within the `spi` package.

Maybe there needs to be an `spi` artifact for these types of classes that aren't then present in the `api` artifact but can be used by implementations?

[2018-05-29 15:28] rmannibucau commented on #224
@arthurdm does it mean the MP-api "spi" package is not usable? Since it is in the api jar it should but if so it is why there is this confusion, agree.

[2018-05-29 15:29] rmannibucau commented on #224
@kenfinnigan think we need to align on EE so a loader (impl vendor dependent) and nothing more to load the impl. bean validation does it quite cleanly IMHO.

[2018-05-29 15:30] rmannibucau commented on #223
It would work for me.

[2018-05-29 16:37] rmannibucau commented on #223
I see but is copyingn the right way? Is it a big deal to do it in a way the user is less lost on its responsability?

[2018-05-29 18:02] arthurdm commented on #223
I think the way it is works fine.  If you really feel strongly about proposing a split of the methods, I can put this in the agenda for the next hangout on June 5th.

[2018-05-29 18:07] arthurdm commented on #224
I agree that separating this into a different artifact would make it much more clear.  Perhaps that should be the outcome of this issue.

We tried to outline the usage in the [javadoc](https://github.com/eclipse/microprofile-open-api/blob/master/api/src/main/java/org/eclipse/microprofile/openapi/spi/OASFactoryResolver.java#L26-L27) of the class:

[code]

As well as the [javadoc](https://github.com

[2018-05-29 18:13] rmannibucau commented on #224
I saw it but frameworks are still in the scope of this method and not a single container strictly need it as proven by last 20 years of EE ;)

[2018-05-29 18:16] janamanoharan commented on #215
Here are the samples for OASFilter:
[OASFilter-Samples.md.zip](https://github.com/eclipse/microprofile-open-api/files/2049911/OASFilter-Samples.md.zip)

[2018-05-29 18:54] arthurdm commented on #215
thanks @janamanoharan - merged: https://github.com/eclipse/microprofile-open-api/wiki/OASFilter-Samples

[2018-05-29 19:36] arthurdm commented on #215
merged @a-saf's changes to https://github.com/eclipse/microprofile-open-api/wiki/OASModelReader-Samples

[2018-05-31 14:53] janamanoharan commented on #215
Here are the samples for the configuration samples:
https://github.com/janamanoharan/microprofile-open-api/wiki/Configuration-Samples

[2018-05-31 15:48] arthurdm commented on #215
thanks @janamanoharan - I merged it: https://github.com/eclipse/microprofile-open-api/wiki/Configuration-Samples

I updated the checkboxes at the first comment

[2018-05-31 16:01] wojtczat commented on #215
Here are the samples for the annotations
https://github.com/wojtczat/microprofile-open-api/wiki

[2018-06-01 14:55] Rachelwrq commented on #215
Here are the samples for the static files
https://github.com/Rachelwrq/microprofile-open-api/wiki

[2018-06-01 15:53] arthurdm commented on #215
thanks @wojtczat and @Rachelwrq !

This concludes the wiki, great job everyone!

[2018-06-01 15:53] #215 closed

[2018-06-05 17:31] arthurdm commented on #223
hey @rmannibucau - at the hangout today we agreed that splitting each method of the current filter into its own interface is not desirable.  If you had another proposal in mind, please let us know via some code - that will be make things more clear.

[2018-06-05 18:07] rmannibucau commented on #223
Then minimum is to throw an exception if a method is not implemented and intended to be used by current processing cause it can lead to an undefined and undesired behavior. Extreme trivial example is if you add a new default method doing almost the same than another.

More generally, default methods are not a replacement of old adapters for end users.

[2018-06-05 20:30] arthurdm commented on #223
I can appreciate this point for general interfaces, but for the OASFilter there isn't any undesired behaviour by not implementing a particular method, as the corresponding OAS tree element remains as-is.

[2018-06-05 20:39] arthurdm commented on #224
the consensus today is that this package should be part of an `SPI` maven artifact, to make it clear that it's not for application developer consumption, as per https://github.com/eclipse/microprofile-open-api/issues/224#issuecomment-392878701

[2018-06-05 20:41] arthurdm commented on #221
Consensus was reached today at the hangout that the current behaviour is correct.  I will assign this to myself to clarify in the spec.

[2018-06-05 21:39] rmannibucau commented on #224
This is fine while not part of the microprofile package since it is only for a single vendor.

[2018-06-05 22:39] arjantijms commented on #221
I wonder if that should not be an overal concern then, since the other MP specs as far as I know don't really say anything about that, do they?

Which is really simple to solve, by using the META-INF folder that's in the class path. That will basically resolve automatically to whatever physical location is valid for that in whatever archive.

I wonder, who was present in that hangout and based on

[2018-06-05 22:53] OndrejM commented on #221
@kenfinnigan @arthurdm, you're missing a few very important points:

* for any JAR, saying that files should be in META-INF on the classpath means that they are in root/META-INF, so no point in making this explicit
* for WAR files, if files are in root/META-INF then they are public resources accessible by an HTTP client (outside world), which is a security risk

Therefore specifying the location a

[2018-06-05 23:14] OndrejM commented on #221
As a result, an alternative location in `<classpath>/META-INF` should be supported, which works in both JAR and WAR files. Later, the location in `<package-root>/META-INF` should be deprecated. It wouldn't affect standard JAR files because there both locations are the same.

[This section of the spec](https://github.com/eclipse/microprofile-open-api/blob/1.0.1/spec/src/main/asciidoc/microprofile-o

[2018-06-06 00:03] arthurdm commented on #221
thanks for the comments guys.  The conclusion from the [hangout](https://docs.google.com/document/d/1opa5lz5m1IctTWNm09YWTb5qwg3r8zF9a0sPcOHCbt0/edit?usp=sharing) today is that:
- static OAS3 files, if any, go into `<root>/META-INF`
- MP OpenAPI properties can be specified anywhere that MP Config supports (so that can be within `WEB-INF` for WARs).
- for convenience, MP OpenAPI properties can also

[2018-06-06 04:59] rmannibucau commented on #223
I understand where you are coming from but it looks very wrong for end users and it is very misleading IMHO.

Concretely what a user (i include myself here) wants is a visitor like filter API. An example is that i can want to filter parameters for a particular operation or path but not all matching params.

CDI configurators allows that whith a nicer API so instead of hiding completely the visitor

[2018-06-06 06:19] arjantijms commented on #221
Thanks for the reference to the document. This clarifies that Ivan Junckes Filho from Tomitribe, Eric Wittmann from Red Hat, and yourself reach that consensus (I'm not sure who Marc S is though).

But since it was a video hangout, it doesn't reveal which arguments where used to reach that consensus. I'm still very curious why anyone would think `<root>/META-INF` would be a good place to store file

[2018-06-06 14:20] arthurdm commented on #223
@rmannibucau - can you please demonstrate your proposal with some code?   It's a bit hard to understand what is being proposed at the moment.   If you can show your alternative to the current OASFilter (not a general interface), that would help greatly.

[2018-06-06 16:13] EricWittmann commented on #223
This is not at all what I expected from this discussion!  Fascinating.

A builder approach is obviously quite different from a filter approach.  I don't have a strong opinion either way, TBH.  Another option would have been a full visitor pattern, which is similarly powerful.

Do we have any actual use cases that can inform this?  It seems to me that the filter pattern nicely addresses a pretty sp

[2018-06-07 06:56] OndrejM commented on #221
I'll join the hangout because I'm not happy with the resolution. It's not consistent with other parts on MicroProfile and the Java EE ecosystem.

[2018-06-07 13:39] arthurdm commented on #221
that's fair @OndrejM - will be good to have a chat to close on this.

One point though, is that resources under `<root>/META-INF` are not externally accessible, i.e. can you fetch `META-INF`?

[2018-06-08 17:36] OndrejM commented on #221
@arthurdm that's fair point, I thought that only WEB-INF folder isn't accessible but it also applies to META-INF, so it's safe to place files in that location.

Still, it's inconsistent to support this location only in the OpenAPI spec, as I commented in the [PR here](https://github.com/eclipse/microprofile-open-api/pull/226/files#r194127184) (which is already merged)

I understand you added it fo

[2018-06-08 19:30] arthurdm commented on #214
We should also add support for `Patch`: https://javaee.github.io/javaee-spec/javadocs/javax/ws/rs/PATCH.html

[2018-06-18 14:14] EricWittmann commented on #216
I can take this one.

[2018-06-18 14:59] arthurdm commented on #223
hey @rmannibucau - any comments on this?    @EricWittmann raised a good point that this proposed builder approach is a different type of conversation than the current filter.

[2018-06-18 15:14] rmannibucau commented on #223
I agree. The origin of that thread is that as a user the filter is quite misleading (I include myself but some colleagues as well in that statement). So aligning on something more fluent was the wish.

Also from an implementation perspective what do you do if you hit a default method without implementation? call it? This is not what do some specs (which prefer to throw an exception to avoid to let

[2018-06-18 16:00] Emily-Jiang commented on #221
I think defining in multiple locations are bad and cause merging issue.

This is why in MP Config, we just say it is under classpath of META-INF. In jar, it is root META-INF. In war, it should be under WEB-INF\classes\META-INF.

[2018-06-18 18:05] arthurdm commented on #221
I think having a properties file in `<root>/META-INF` is no different than having more than 1 property file in the classpath, as MP Config states `all META-INF/microprofile-config.properties files on the ClassPath` - which indicates there can be more than 1.

[2018-06-18 19:04] arjantijms commented on #221
Root/meta-inf in a war isn’t on the class path...

On Monday, June 18, 2018, Arthur De Magalhaes <notifications@github.com>
wrote:

[2018-06-19 12:25] rmannibucau opened #227 "TCK don't use CDI"
MP enforces CDI to be a central point but TCK don't decorate with @Dependent (or any scope) the beans (in particular application) so it is not MP compatible in terms of JAXRS deployment.

A trivial fix can be to add a beans.xml in WEB-INF.

[2018-06-19 12:28] rmannibucau opened #228 "Yaml should be optional"
MP base is CDI+JAXRS+JSON, therefore yaml support should be optional and not enforced in the spec and tck.

[2018-06-20 11:13] rmannibucau opened #229 "Missing addXXX methods"
For consistency with other patterns:

- Encoding#addHeader is missing
- Operation#addCallback

also the addAPI is addApi, not sure it was intended

[2018-06-21 07:26] rmannibucau opened #230 "Do we need to duplicate annotations and builder API?"
Still thinking out loud a bit but what if at startup an OpenAPI event is fired and the user can customize the OpenAPI instance which is then served directly?

This /2 the number of available API and doesn't really prevent to do anything.

In terms of complexity it stays exactly the same for the end user since annotations are a plain copy of the OpenAPI builder.

[2018-06-21 09:22] EricWittmann commented on #230
Are you suggesting removing the both the ModelReader and Filter interfaces and replacing them both with this?

[2018-06-21 10:07] rmannibucau commented on #230
No, the proposal was more to drop https://github.com/eclipse/microprofile-open-api/tree/master/api/src/main/java/org/eclipse/microprofile/openapi/annotations and replace it by an event at startup when the application has been discovered (kind of send AnnotatedType metadata and let the user build the OpenAPI with the builder API instead of duplicating that in annotations and have two entry points f

[2018-06-21 10:44] EricWittmann commented on #230
But annotations provide the only code-first way of defining your OpenAPI specification.  It's true that there are three ways to produce a document (static file, builder API, annotations) but they each address a different use case.  Removing the annotations eliminates the use-case where developers want to have the OpenAPI spec generated based on the actual JAX-RS code that they write (i.e. code-fir

[2018-06-24 13:30] rmannibucau opened #231 "models package is not (de)serializable OOTB easily"
OpenAPI is by design serializable in yaml, json and sometimes in xml.

Since it is a mainstream exchange format the default binding should match mainstream serializer rules (pojo).

Current model doesnt at all and it makes it hard for users to switch of serializer or use the model for other needs than the default one (/openapi) which reduces a lot the portability and usability of that spec.

Can t

[2018-06-24 15:47] arthurdm commented on #221
As agreed in the chat, closing this for now.

[2018-06-24 15:47] #221 closed

[2018-06-24 15:48] arthurdm commented on #228
I can appreciate your position, but given the history of Swagger and OpenAPI heavily favour YAML, we would be going against the API industry if we didn't make YAML the default.

[2018-06-24 15:50] rmannibucau commented on #230
@EricWittmann not at all, if you do the previous proposal then you can implement it programmatically as well and even control what you modelize. It is not true it breaks jaxrs developpers since the logical lifecycle would be:

1. build openapi model from jaxrs
2. fire the openapi
3. user can customize the model

It is also more efficient for apps because if you add transversally some deployment co

[2018-06-24 15:50] arthurdm commented on #229
+1.  I agree with these additions.

[2018-06-24 15:53] arthurdm commented on #230
Sorry, but we're definitely not dropping annotations.  This is the most used form of generating OpenAPI - it goes back to the roots of Swagger.

[2018-06-24 15:54] rmannibucau commented on #228
@arthurdm having an "OPTIONAL" in the spec is fine, pushing a standard for YAML in JakartaEE/Microprofile is fine (Yaml-P and Yaml-B), having to depends hardly on something which is not in the platform and out of scope for the spec is very bad.

See it this way: who does handle the serialization in the platform? JAX-RS right? What does Microprofile provides for JAX-RS? JSON and that's it. So best

[2018-06-24 15:56] rmannibucau commented on #230
@arthurdm is Microprofile-openapi just a plai copy of swagger adapted to openapi? No hope it fixes the design issues of swagger and embraces CDI programming model?

[2018-06-24 15:57] arthurdm commented on #231
The serialization format is YAML or JSON - which can then be fed into a generator (https://github.com/OpenAPITools/openapi-generator) to produce clients or server impls.  That's the pattern we support.

What we would like to do is contribute to the OpenAPITools project so that we can go from OAS3 -> MP OpenAPI (server) and OAS3 -> MP Rest Client (client).

[2018-06-24 16:03] rmannibucau commented on #231
well being said JSON is everywhere and will not be removed anytime soon, it is really ok to have yaml optional. Yaml is mainly an end user oriented format but not a runtime format. Microprofile being a runtime solution, it makes sense to enable Yaml if desired but not promote it more than needed. In particular cause most of users will want to use the openapi ui and only json is supported by most i

[2018-06-24 21:06] rmannibucau opened #232 "Define static resources as not being in war meta inf"
Should be explicit that the meta inf folder is the classpath one and not servlet context one.

[2018-06-24 23:08] ivanjunckes commented on #216
Hi Arthur, I was taking a look at this today and I probably didn't quite understand the description.

These are the references to the example object I found. All of them are using arrays and they support one value as well.
![image](https://user-images.githubusercontent.com/2260551/41824639-eb20ff3a-77e9-11e8-8c47-6b42f660eb47.png)

Not sure I get when you say it only supports array. I am probably

[2018-06-25 00:20] arthurdm commented on #216
Hey @ivanjunckes - Currently the `@Content` annotation just support this: https://github.com/eclipse/microprofile-open-api/blob/master/api/src/main/java/org/eclipse/microprofile/openapi/annotations/media/Content.java#L47

So we need to add an additional method with the signature `String example();`, such as done in here: https://github.com/eclipse/microprofile-open-api/blob/master/api/src/main/jav

[2018-06-25 00:21] arthurdm commented on #232
dup of #221

[2018-06-25 00:21] #232 closed

[2018-06-25 04:45] rmannibucau commented on #221
Please reopen, meta-inf for war case is the least portable location and where *vendors* put descriptor, not any spec. Spec must use classpath meta-inf or web-inf. For MP it means the spec wording should be about descriptor natural location and not reinvent something used in not a single spec in the *whole* platform.

[2018-06-25 07:50] struberg commented on #231
yaml is the new XML. It should really be optional.
Also YAML is not EE native nor MP native. Whereas JSON-P is in MP-1.0 plus additionally JSON-B in MV-2.0.

[2018-06-26 20:03] arthurdm commented on #214
Also - we should define in the spec the JAX-RS annotations that we support and what OAS3 elements they map into.  Most of this is common knowledge, but it should be in the spec.

[2018-06-26 20:07] arthurdm commented on #231
Thanks for the feedback guys.

I still think we have taken the right approach in supporting both YAML and JSON.   While YAML is not officially defined in EE, it's defined by the official OpenAPI v3 spec: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#format.

[2018-06-26 20:09] arthurdm commented on #228
Closing this based on the fact that OAS3 spec defines both YAML and JSON as formats: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#format

[2018-06-26 20:34] rmannibucau commented on #228
Where is the designer in MP? Nowhere so yaml is not yet needed. Also check the proposal: mention it as encouraged but optional as most spec do.

[2018-06-27 16:34] arthurdm commented on #231
Both concerns from this issues have been addressed:

1. The model serialization.  This is addressed by [this comment](https://github.com/eclipse/microprofile-open-api/issues/231#issuecomment-399766865), remembering that `/openapi` is the aggregation of all documentation mechanism (we can't just look at models separately), and it is the serialization / deserialization protocol.

2. Format (YAML/JSO

[2018-06-27 16:34] #231 closed

[2018-06-27 16:37] arthurdm commented on #230
@rmannibucau - you do have some valid points, but they must be made as a additional proposal rather than a replacement proposal (as Eric also mentioned).

So I will close this one, with the hopes that you can articulate your ideas into a additional proposal.  Thx.

[2018-06-27 16:37] #230 closed

[2018-06-27 19:59] rmannibucau commented on #231
1. is wrong -> this is one serialization so maybe 10% of user usages
2. this is inconsistent with the platform and not needed at all, we are not building a "de facto" standard but a standard

[2018-07-01 13:54] rmannibucau opened #233 "TCK use JAXB?"
Hi guys,

org.eclipse.microprofile.openapi.apps.petstore.model.User uses jaxb as binding which is weird for any MP spec since only JSONP and very recently JSONB are supported so JAXB can be an optional extension but must not be part of the default TCK coverage.

Romain

[2018-07-03 14:58] jmini opened #234 "Questions about org.eclipse.microprofile.openapi.models.PathItem"
I am new to the Microprofile project, I hope this is the appropriate channel to start a discussion.

How definitive are the model interfaces introduced with version MicroProfile release 3.1?
I understand that Swagger Core was used as reference, but maybe some stuff can be improved when establishing a standard.

Today I have worked a lot with `PathItem` and `Operation` (I work with swagger-core) an

[2018-07-10 00:57] arthurdm commented on #234
hey @jmini - welcome to MicroProfile and thanks a lot for your feedback!   It's really cool to merge best practices from industry leaders like Kaizen and Swagger, so definitely a good direction.

I agree with both your suggestions.  For #1 I suspect that's a history serialization/deserialization issue where there wasn't a field called `operations` so `getOperations` was ruled out - but whatever hi

[2018-07-10 08:45] jmini commented on #234
For `#1`: what are the guidelines? It is allowed to just remove:

[code]

And to add:

[code]

Or should I work with the `@Deprecated` annotation?

---

For `#2`: I think it will file an other Issue to track it, because this is a pattern you see everywhere where you have a map?

[2018-07-10 15:59] mrglavas commented on #233
The JAX-RS JSR specifies JAXB as a context provider for XML. I believe that implies that any MP spec supporting JAX-RS also has a dependency on JAXB and that this binding is the default for XML objects.

[2018-07-10 16:03] rmannibucau commented on #233
Not really, it is a lazy coupling in all implementation and a concern now it gets dropped from the jvm and only json is the common format between mp specs.

Note that deopping these annotations still works for tcks and that mp2 requires rather jsonb than jaxb which is neither promoted nor provided by default mp stack.

Since @schema is here short term fix is to just remove jaxb bindings from tcks.

[2018-07-10 16:16] arthurdm commented on #227
The JAXRS applications that the TCK uses are perfectly compatible with MP, as JAXRS is part of MP.  Yes, CDI is also part of MP, but you don't have to use CDI to be MP compatible.

[2018-07-10 16:22] rmannibucau commented on #227
This is plain wrong. JAXRS without cdi is defined in an EE container which has other IoC than CDI. MP only has CDI so an MP app or extension spec relies on CDI by design.

[2018-07-10 17:00] arthurdm commented on #234
For `#1` you can deprecate those methods (pointing to the new ones).  Our next release is just a point release (1.1) so we need to keep backwards compatibility.

Sounds good, let's deal with `#2` in  a separate issue.   Thanks!

[2018-07-10 17:02] arthurdm commented on #233
@andymc12 - thoughts on this?     I think @mrglavas (and the TCK we have) is correct.

[2018-07-10 18:54] andymc12 commented on #233
@arthurdm - the TCK looks fine to me.  I can understand the argument that MP might not want to include JAXB (especially now that it is being removed from the JDK in Java 11...), but this text is in both the JAX-RS 2.0 (MP 1.X) and 2.1 (MP 2.X) specs:
[code]

This means that a JAX-RS application should be able to depend on JAXB (provided by the runtime) to serialize/deserialize objects to/from XML.

[2018-07-10 19:16] EricWittmann commented on #227
@kenfinnigan Any thoughts on this?

[2018-07-10 19:25] kenfinnigan commented on #227
I think @rmannibucau and @arthurdm are both right.

While the current TCK does validate things correctly, as there's nothing saying that an MP application must use CDI to be an MP application, it would certainly be beneficial to include TCK tests that verify the same behavior whether a class is a CDI Bean or not

[2018-07-10 19:54] EricWittmann commented on #227
OK thanks Ken.  So it seems to me that if a JAX-RS app **without** CDI is a valid MP application, then the TCK is currently fine.

@arthurdm - I think it's your decision whether you want to open a separate issue to **add** another TCK test that validates the openapi output is the same whether a JAX-RS app is CDI annotated or not.

[2018-07-10 20:31] arthurdm commented on #233
Thanks for the feedback @mrglavas and @andymc12!

@rmannibucau - I think it's hard to argue with the EE spec when it states that it `MUST` be this way. =)

[2018-07-10 20:31] #233 closed

[2018-07-10 20:34] arthurdm commented on #227
thanks for the feedback guys.

I think that adding an extra TCK tests for this would only be interesting if there were a commonly used CDI annotation that modifies the resulting `openapi` document.

[2018-07-10 20:51] struberg commented on #227
Folks, MP mandatory requires CDI. So I really don't understand that argument.

I think the point is that the class has to be in a bean archive and must be a 'Managed Bean'. At least according to the EE umbrella spec afair. Even in EE it must be either a @Stateless bean or a CDI bean, isn't?
What's wrong with just adding an empty META-INF/beans.xml or e.g. @ApplicationScoped to that resources?
Will

[2018-07-10 20:57] rmannibucau commented on #227
Side Note: all but schema on model annotations can be modified by cdi by design, i know only geronimo impl supports it but it is a bug in other impls and a violation of cdi support.

Also mp without cdi is plain undefined in the spec and doesnt make any sense since it also means you dont have any way to register prover etc so not a single user can rely on it. CDI is mandatory for MP by constructio

[2018-07-10 20:57] arthurdm commented on #227
@struberg - are you saying a JAXRS application that doesn't use CDI is not a valid MP application?

[2018-07-10 21:00] rmannibucau commented on #233
@arthurdm it is actually trivial to argue it: mp platform can relax any EE requirement. This requirement is there cause jaxb is one of the core spec of ee, it is nowhere in mp core required so kot needed at all.

Also note than dropping jaxb model keeps the tck the same and solves that issue so pby no need to discuss it much and just embrace java9 and later.

[2018-07-11 07:48] struberg commented on #227
Oki, did look it up. Please correct me if you think I'm wrong.

JAX-RS-2.1 §2.3
* 2.3.1: SE environment: code has to call RuntimeDelegate#createEndpoint -> no auto scanning
* 2.3.2: Servlet: web.xml with servlet-name javax.ws.rs.core.Application or register your own Application as servlet -> no auto scanning. Apart from that Servlet is _not_ part of MP. So 2.3.2 doesn't apply at all.
* 2.3.3 'Othe

[2018-07-11 08:12] rmannibucau commented on #227
Yep exactly, none of the discovery applies to MP except the CDI based one so MP requires CDI by design (this is how it was founded actually).

[2018-07-11 13:54] arthurdm commented on #227
I agree we could  **add** a test that uses CDI, but my main issue with this discussion is the indication that a JAXRS application that doesn't use CDI is not a valid MP application.  I don't think that's right at all.  MP brings in JAXRS and CDI as separate specs - you can use one, or the other, or both.     Yes the path we want to stir folks is to combine them, and use MP Config too, but you are

[2018-07-11 14:07] rmannibucau commented on #227
@arthurdm JAXRS spec does by itself as @struberg shown. There is no other portable way to deploy a JAX-RS app without CDI in MP. The best which could be done (but please never do it) is to instantiate each bean with a "newInstance" but it looses all the potential JAX-RS ecosystem since there is no more scanning and autodiscovery, no more injection etc. This would only work for these TCK cause they

[2018-07-11 14:31] NottyCode commented on #227
@struberg I've just read the JAX-RS 2.1 and EE platform sections you reference and I don't see anything that says you have to use CDI to register endpoints. Perhaps it is elsewhere, but JAX-RS says what to do in Java SE, what to do in a servlet container and the third section says:

    An implementation MAY provide facilities to host a JAX-RS application in other types
    of container, such faci

[2018-07-11 14:35] rmannibucau commented on #227
@NottyCode this "MAY" part is ok and very good for vendors (we abuse of it in TomEE for instance) but this is not usable to write any TCK since it is not a "MUST". CDI support is a "MUST" of MP so CDI is reliable for TCK, not the other way around.

[2018-07-11 14:40] struberg commented on #227
@NottyCode of course the JAX-RS spec doesn't point to EE. But the EE umbrella spec references and 'enhances' the JAX-RS spec.
And true, we are not _full_ EE. But MicroProfile is a subset profile of EE. So this is the closest we can get. Anything else is just a _MAY_ as you already mentioned. And thus we cannot rely on it to be portable.

Btw, even if `@ApplicationScoped` is a CDI annotation, it wi

[2018-07-11 14:44] Emily-Jiang commented on #227
I realised I misunderstood the argument. Anyway, what I said earlier remains correct. I disagree the statement of "JAX-RS must use CDI". Check out [this guide](https://openliberty.io/guides/rest-client-java.html) to show how JAX-RS application can function without CDI.

[2018-07-11 14:57] struberg commented on #227
@Emily-Jiang you realise that your example is *not* portable? ;)
That's what it is all about! The TCK must only test code which is guaranteed to be portable by some spec!

[2018-07-11 15:30] rmannibucau commented on #227
@Emily-Jiang your example is in the "MAY" part of the spec so not portable so out of scope of MP.

[2018-07-11 16:40] NottyCode commented on #227
@struberg based on that there is no portable way to do this. There is nothing in MicroProfile that specifies this so by definition it isn't portable, even the CDI approach isn't specified so isn't portable. In terms of a discussion on how to resolve this I don't think this issue is the right place to discuss it. I think it needs a broader discussion with the community.

[2018-07-11 16:56] smillidge commented on #227
I thought the whole direction of MicroProfile was to be CDI first. Therefore specs should be built to support CDI first and then if possible support other mechanisms. It seems that is being flipped around in the discussion here.

[2018-07-11 17:24] struberg commented on #227
+1 @smillidge

@NottyCode MicroProfile started as an 'unofficial' JavaEE Profile. Thus the name. And of course it is a JavaEE Profile and like e.g. WebProfile it derives many definitions and features from the full profile. You are fully correct that this is nowhere written down it seems. @jclingan @kwsutter @dblevins  can you confirm? But it still makes a lot of sense to assume so. Otherwise tons

[2018-07-11 18:34] NottyCode commented on #227
@smillidge yes, but we have also avoided changing the JAX-RS and CDI specs themselves. When I read the JAX-RS spec I view it as being add @Path to a resource class, and subclass Application using @ApplicationPath. There is no mention of CDI there. I therefore think it is reasonable for someone to write that code and have it work, whether that is through a servlet container or not.

@struberg On th

[2018-07-11 19:05] struberg commented on #227
well, the WebProfile is also kind of 'restricting' the umbrella EE spec to a list of certain specs. And explicitly excludes all the rest. MicroProfile does the same: we limit the EE profile to at least CDI + JAX-RS + JSON-P (+ JSON-B since mp-2.0).

Let's take away the point that we need to clarify how JAX-RS Application and Resource detection is intended to work in MicroProfile, ok?

[2018-07-11 21:14] rmannibucau commented on #227
Yep, this issue is purely about these particular tck and fixed as sipply as adding an empty beans.xml in meta inf. Then it must be written down at spec level that jaxrs relies on cdi but this is out of scope of this spec to test that.

[2018-07-12 10:18] Emily-Jiang commented on #227
I think this needs to be a wide discussion on the MP mailing list to clarify whether we expect JAX-RS working without CDI. If we agree on "JAX-RS has to depend on CDI/JSR330", the TCKs will have to adjust accordingly. An application server is free to support the scenario of "JAX-RS working without CDI". Basically, we need to agree on the baseline.

[2018-07-12 10:33] OndrejM commented on #233
You are right, @rmannibucau - whether MP also includes EE spec dependencies isn't clarified at all anywhere in MP. But we took the JAX-RS into MP as a whole so that also implies that JAXB is included in MP. I think we should clarify this at the arch. board level how to address EE spec dependencies.

[2018-07-12 12:32] OndrejM commented on #227
@NottyCode, I'm afraid you're not right. If this was true, then Jersey as a reference impl, would autodiscover REST resources in Java SE environment, which isn't true. It requires that resources are defined in a subclass of Application. Try running this example in https://github.com/OndrejM-demonstrations/scaling-with-datagrids/blob/master/01-simple-app/src/main/java/mihalyi/scaling/simple/Main.ja

[2018-07-12 12:37] OndrejM commented on #227
By the way, @rmannibucau can you give an example of a test that relies on autodiscovery without CDI? I see that all resources in the TCK are defined by as singletons in an Application subclass, which is portable. Did I miss something?

[2018-07-12 12:46] rmannibucau commented on #227
@OndrejM JAXRSApp? :)

[2018-07-12 13:04] OndrejM commented on #223
HI @rmannibucau, this is a general concern and certainly doesn't apply only to openapi. Other MP APIs may be using default methods or will consider them in the future. I'm bringing this to the Arch board: https://github.com/eclipse/microprofile/issues/45

[2018-07-12 13:30] rmannibucau commented on #223
The nasty issue will come at the 1.1 time: you add a method, default indeed, user upgrades but don't realize the implementation is 1.1, it uses it since it is available and it doesn't do at all what is here. Same can happen to vendors BTW (did for jsonp). If a default doesn't implement the contract it must not exist IMHO.

[2018-07-12 13:41] OndrejM commented on #223
What do you mean by this, @rmannibucau ? I think that the default methods in OASFilter implement the contract, what's the problem there? Even if a new default method is added to the filter, if it just returns the argument, it would implement the contract, or not?

[2018-07-12 13:53] rmannibucau commented on #223
@OndrejM this one is more particular: the contract is very hard to understand for end users and the component (filter) is not needed at all on user land since you can already do that using plain java and streams in general.

[2018-07-12 14:51] OndrejM commented on #221
I've raise https://github.com/eclipse/microprofile/issues/46 for the Arch. board to address this globally.

To summarize the discussion here, the only argument for keeping the current state is mentioned in [here](https://github.com/eclipse/microprofile-open-api/issues/221#issuecomment-390402597)

I didn't find any other argument to support the decision, despite it was declared multiple times that

[2018-07-12 15:36] arjantijms commented on #221
@OndrejM @arthurdm

In addition to agreeing with Ondrej's points raised above, I would to call special attention to this:

So far the discussion has given a distinct feel of "we've chosen it before, maybe not thought too much about it, but now that it's chosen it has been chosen".

MicroProfile however promised to be fast paced, and part of this fast pace mean mistakes slip in. To counter this, it

[2018-07-12 20:57] jmini opened #236 "Models: using default methods for builder methods?"
In the `org.eclipse.microprofile.openapi.models` package and sub-packages, the builder-pattern is used:

[code]

The `ayzAbcd(T)` method is just a builder method.

Could this method be a default method?

[code]

In my opinion it would ease the work of people who wants to create an implementation of the model interfaces.

Or is there a reason to not do this?

[2018-07-13 10:50] Emily-Jiang commented on #221
For .war in CDI,  beans.xml can be placed under WEB-INF\beans.xml or WEB-INF\classes\META-INF\beans.xml. If multiple files are found in both locations, an unportable behavior occurs. Both @struberg and I did not like it. Therefore, in MP Config, we simply said the microprofile-config.properties on the classpath will be loaded, which means WEB-INF\classes\META-NF\microprofile-config.properties for

[2018-07-13 12:59] pilhuhn commented on #221
And then .war/META-INF/*.properties seems to work across many/all(?) servers.

[2018-07-13 13:08] rmannibucau commented on #221
@pilhuhn nop, `.war/META-INF/*.properties` is not portable at all and something impossible to use for vendors. `.war/WEB-INF/classes/META-INF/*.properties` or jar META-INF works everywhere.

[2018-07-13 13:29] pilhuhn commented on #221
@rmannibucau I guess I was trying to make the distinction between 'de facto' and 'de jure'.

If `.war/WEB-INF/classes/META-INF/*.properties` is the only sensible place, then to me the decision is clear. And I guess the specs that introduce such property files should also call that out explicitly.

[2018-07-15 19:13] arthurdm opened #240 "Clarify behaviour of methods that return list / map"
A few methods return a list or map of children and are meant to be read-only.  The issue is that we don't specify that in the javadocs, so it's up to interpretation of the vendors - we should clarify these scenarios to avoid inconsistent behaviour.

[2018-07-16 13:24] arthurdm commented on #221
I think this thread has focused too much on the EE classpath, specially for a `WAR` file.  It's important to note that the parent specification for MP OpenAPI is the [OpenAPI v3 spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md) (OAS3), and static (YAML | JSON) OAS3 files come from an API-first design pattern, which is language agnostic (i.e. has nothing to do with J

[2018-07-16 13:31] rmannibucau commented on #221
@arthurdm well, actually no. MP is about embrassing EE and being reversed to JakartaEE so if you do something against EE like using vendor specific descriptors or locations like .war/META-INF then you block that process. Functionally there are well defined and known location to meet the same requirement as mentionned previously so no need to reinvent the wheel and loose users.

[2018-07-16 13:43] arthurdm commented on #227
@rmannibucau - I don't understand your point.   JAXRSApp is registered as an `Application` subclass and has its JAX-RS resources defined in a singleton: https://github.com/eclipse/microprofile-open-api/blob/master/tck/src/main/java/org/eclipse/microprofile/openapi/apps/airlines/JAXRSApp.java#L146-L155

what's the issue?

[2018-07-16 13:43] rmannibucau commented on #227
@arthurdm the application has no scope and the module has no beans.xml so it is not a CDI bean so it is not a registered application from microprofile stack point of view. Means TCK must not work.

[2018-07-16 13:48] arthurdm commented on #223
users don't call the filter - they just override the methods that they want to use.  This discussion is making this a lot harder and more general than it needs to be, IMO.

[2018-07-16 13:59] arthurdm commented on #221
Thanks for confirming my point. =)

[2018-07-16 14:01] rmannibucau commented on #221
@arthurdm the most important part being the root spec of mp-openapi is mp so EE and it is an openapi integration in EE and not the opposite ;)

[2018-07-16 14:04] rmannibucau commented on #223
except there is no way a user knows what to understand and at the end it is faster and more controlled to just use streams to filter openapi in a jaxrs response filter or equivalent than implementing a custom oasis filter which is quite far from the end user semantic and more on the implementation side IMHO.

[2018-07-16 14:32] arjantijms commented on #221
@arthurdm

Isn't your reasoning a variant of the age old:

_"There might be a person, deep in the jungles of Japan, who might want to use [insert EE tech] with Python/Spring/Ruby/What have you"_

In general that leads to very bland, and overly complex designs, for no good. (Python users would never want to use an API that's designed for Java). JSR 77 is a prime example.

I don't mean this in any w

[2018-07-16 14:55] EricWittmann commented on #178
Assigning to myself. :)

[2018-07-16 15:08] OndrejM commented on #221
I think we've heard a lot of opinions already. @arthurdm as a s pre c lead has his own opinion. But the role of spec lead is not to make ultimate decisions but drive collaboration and facilitate agreements. Arthur is failing in this respect. I'm sorry to say so, especially because I haven't met Arthur to have and I'm sure we'd have a friendly talk together.

At this stage, the only reasonable opti

[2018-07-16 15:10] arthurdm commented on #227
We discussed this in today's hangout and came to the conclusion that the architectural board needs to guide the decision of "is JAXRS without CDI valid"?   We (MP OpenAPI members) certainly think it is, and it seems others [discussion](https://github.com/eclipse/microprofile/issues/32#issuecomment-398151998) are moving towards a supportive direction that CDI, although strongly recommended, is not

[2018-07-16 15:10] #227 closed

[2018-07-16 15:14] arthurdm commented on #223
This was discussed at the hangout today and we couldn't ultimately understand what the issue is with this *particular* case.  The OASFilter may have other issues with it (we agree on that), but the default implementation isn't one of them.

As noted, @rmannibucau makes good points about general issues with user-invoked default methods and @OndrejM has correctly moved the discussed [here](https://g

[2018-07-16 15:14] #223 closed

[2018-07-16 15:15] arthurdm commented on #240
We agreed in today's hangout that these maps and lists should be immutable.  This issue will drive the doc updates - and TCK additions.

[2018-07-16 15:16] arthurdm commented on #236
We agreed with this in today's hangout.  This issue will be used to drive the proposed work of adding the default impls for these simple builder methods.

[2018-07-16 15:17] arthurdm commented on #229
Confirmed with the group in today's hangout.

[2018-07-16 15:23] arthurdm commented on #221
@OndrejM - we have discussed this topic in three different MP OpenAPI hangouts, where I invited the opinions of all members - so definitely opinions were heard and discussed.    Just ask @EricWittmann or @ivanjunckes or @msavy or @AndyGee

We actually even agreed today to defer this topic to whatever decision comes out of https://github.com/eclipse/microprofile/issues/46

[2018-07-16 15:25] OndrejM commented on #223
I think that the main concern is that the API can be simplified with streams and not that the default methods are used. This issue is closed corectly.

@rmannibucau, please raise another issue to reflect the ideas of using streams, ideally with a PR how to replace the filter functionality with a stream-based API

[2018-07-16 16:09] EricWittmann commented on #221
Ultimately no one on the MP OpenAPI hangout felt strongly enough about this issue one way or the other, so the agreement we reached was to defer to the decision of the arch. board.  Also I noticed that the information included in https://github.com/eclipse/microprofile/issues/46 is either incorrect or perhaps just unclear.  So I'll update that in order for the board to make an informed decision.

[2018-07-16 17:10] arjantijms commented on #221
@EricWittmann
[quote]Ultimately no one on the MP OpenAPI hangout felt strongly enough about this issue one way or the other[/quote]

But perhaps that was because all the people on that hangout were the same people who didn't care (or thought about it) in the first place?

[2018-07-16 17:20] EricWittmann commented on #221
Very likely.  And without anyone else joining the call, I think a reasonable decision was made:  abide by the decision reached on issue https://github.com/eclipse/microprofile/issues/46

Disagree?

[2018-07-17 08:52] OndrejM commented on #221
@arjantijms, it seems that your comment was add multiple times. Probably Github messed up, Github was messing up with me yesterday too. I deleted all the redundant comments.

[2018-07-17 09:20] arjantijms commented on #221
@OndrejM thanks, GitHub just has an outage in the middle of me posting that comment (https://twitter.com/githubstatus/status/1018911757245538304)

[2018-07-17 11:42] EricWittmann commented on #178
OK so the reason that these properties are String instead of something more (seemingly) sensible (e.g. double) is that there is no default value that we could use to clearly indicate that the property was not included.  In other words, if we made the property a `double` then there is no default value we could provide that is not also a valid value.

The way all these annotation properties work is

[2018-07-17 14:42] #178 closed

[2018-07-17 20:07] jmini commented on #236
I have created an example in https://github.com/eclipse/microprofile-open-api/pull/242 for the `Operation` class. Before I extend this pattern to all builders methods, I want to be sure that this is the idea we have discussed here.

[2018-07-23 13:08] dvddhln opened #244 "Interaction with JAX-RS annotations?"
Hi,
I was wondering if it could be possible either through extending the OASFilter or other fluent builders implementations to interact more with JAX-RS annotations? An example would be defining security schemes with open api annotations and let the filter  pick up on `@RolesAllowed `annotations set on classes or methods.

BR

David

[2018-07-23 13:14] EricWittmann commented on #244
What is the use case for this?  It sounds like you're asking for a generated OpenAPI document that returns different content depending on the user requesting it.  If so, my understanding is that the scoping of OASFilter prohibits that because the OpenAPI document is generated once by the platform and then cached.

[2018-07-23 13:14] EricWittmann commented on #244
If I misunderstood you (very possible) then can you give an example?  :)

[2018-07-23 13:45] dvddhln commented on #244
I see, well the use case would be to perhaps let the filter be able to pick up on the different roles and have them added to the open api model somehow. Very basic example but it could look like this.

[code]

[2018-07-23 15:20] EricWittmann commented on #244
Oh I see now.  I did misunderstand you.  :)

I think this might be something that could be implemented by the vendors as part of annotation scanning.  I don't think it can be part of the filter, since there would be no access to the `RolesAllowed` annotation at the time the filter is executed.

However, this is perhaps a good feature request for [SmallRye OpenAPI](https://github.com/smallrye/small

[2018-07-23 18:06] dvddhln commented on #244
Thanks for the input Eric and clarification, really helpful.  Yes perhaps it is up to vendor implementation. I can raise it up in the smallrye-open api to see whether it can be raised as an enhancement.

[2018-07-23 18:37] arthurdm commented on #244
good discussion guys, thanks for bringing up this topic @dvddhln

Having a hook to process the annotations is an interesting concept - we played around with that in WebSphere Liberty with a larger scope where we provided an `OpenAPIReader` interface that get injected with the set of raw `classes` that our scanner picked up and would return the built OpenAPI model.       So your idea is interesting

[2018-07-23 19:14] EricWittmann commented on #244
I think an annotation scanner hook is an interesting idea but might need to be vendor specific rather than in the spec.  Not all impls will process annotations the same way.  Although perhaps it could be done in a way that didn't force a specific impl.  In that case it could be pretty cool.

[2018-07-24 05:51] jmini commented on #236
Have you other changes than the one in #242 in mind?

[2018-07-24 06:01] jmini opened #245 "Models: Are ServerVariables really Extensible?"
`org.eclipse.microprofile.openapi.models.servers.ServerVariables` represents a map of `org.eclipse.microprofile.openapi.models.servers.ServerVariable` in `org.eclipse.microprofile.openapi.models.servers.Server`

See spec: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#server-variable-object

I do not think that the map <variable-name, instance> is extensible. I know Swa

[2018-07-24 14:14] arthurdm commented on #236
that was all.  thanks again @jmini!

[2018-07-24 14:14] #236 closed

[2018-07-25 04:05] jmini commented on #245
Thank you for the quick feedback!

Well I guess that removing `extends Extensible` from the `ServerVariables` interface declaration is not a problem:

https://github.com/eclipse/microprofile-open-api/blob/7a28b39dfba5d8546efe5d195f547419f6761ad2/api/src/main/java/org/eclipse/microprofile/openapi/models/servers/ServerVariables.java#L25-L30

I am wondering if this is possible for a `1.1` version (th

[2018-07-25 05:31] jmini commented on #240
See also discussion of this question in #235 for `getOperations()` in `PathItem` (called `readOperationsMap()` with `1.0.x`). This is a convenience method that returns as one map the 8 Operations for the HTTP verbs (GET, POST, PUT…).

---

But there is even an other cases to consider: the maps that is returned by: `OpenAPI.getPaths()` or by `Components.getSchemas()`

If those maps are also immutab

[2018-07-25 05:33] jmini opened #246 "Models: Extensible.addExtension(..) should be a builder method"
For consistency with other patterns:

All methods that allow to add an item in a list or in a collection are builder methods.

It should be also the case for:
[code]

[2018-07-25 05:35] jmini opened #247 "Models: OpenAPI.path(..) should be OpenAPI.addPath(…)"
For consistency with other patterns:

The method:
[code]

Is the builder method to add an item into the `OpenAPI.getPath()` map. It should be:
[code]

[2018-07-25 11:49] EricWittmann commented on #245
I think the `ServerVariables` model should be removed and the `variables` property of `Server` should instead just be a `Map`.  What do you think, @arthurdm ?

[2018-07-25 12:13] jmini opened #248 "Models: do we need the interfaces extending Map?"
There are several model interfaces:
`Paths`, `ServerVariables`, `Content`, `APIResponses`, `Scopes`, `Callback`,
that extends, `Map<String, T>`

My points are:

1/ Those Interfaces are really strange, when working with it, you never can not use stuff like:

* `Arrays.asList(..)`
* Streams + Collectors

2/ To implement #240 we might need to remove those interface. How do you create an immutable ver

[2018-07-25 12:14] jmini commented on #245
@EricWittmann : I totally agree, but this is not only a `ServerVariables` question => #248.

[2018-07-26 10:14] jmini commented on #248
@EricWittmann : thank you for the "extensible" pointer.

I divided my list into two categories:

**1) Not extensible.**

No extends Extensible in the current code:
[code]

For:
[code]
As discussed in  #245 it is marked as extensible for the moment, but this is wrong according to the spec.

**2) Extensible.**

[code]

Extensible in the current code and marked as such in the OpenAPI-Spec.

I would l

[2018-07-29 23:34] arthurdm commented on #207
yup!  thanks @janamanoharan

[2018-07-30 00:50] arthurdm commented on #240
good point @jmini - I agree that as part of this work we should ensure that each map has an equivalent `add` and `remove` route to update the collection.

[2018-07-30 00:57] arthurdm commented on #245
hey guys - I totally agree here.    Probably just legacy stuff we can improve upon.

How about we tackle this in #248, since that will probably eliminate `ServerVariables` along with other similar interfaces?

[2018-07-30 01:02] arthurdm commented on #248
+1 for replacing the non-extensible model interfaces with a map version in the appropriate encapsulating model.

For the extensible (as per OAS3 spec) model interfaces, I propose that we don't extend from `Map`, and instead just contain a map as an internal field - exposing the non-mutable collection, and appropriate `add` and `remove` methods.

[2018-07-30 01:06] arthurdm commented on #247
agreed

[2018-07-30 01:07] arthurdm commented on #246
yup, +1

[2018-07-30 04:08] jmini commented on #247
Maybe it should be:
[code]

But there is also already:
[code]

Which does the same?

Maybe `OpenAPI.path(String, PathItem)` is just wrong and should be removed (or marked as deprecated with `1.1` to indicate that `getPahts().addPathItem(String, PathItem)` should be used instead).

[2018-07-30 05:15] jmini commented on #229
I have opened https://github.com/eclipse/microprofile-open-api/pull/249 to add the 2 missing methods.

@rmannibucau, what do you mean with:

[2018-07-30 06:09] rmannibucau commented on #229
@jmini https://github.com/eclipse/microprofile-open-api/blob/master/api/src/main/java/org/eclipse/microprofile/openapi/models/responses/APIResponses.java#L41 should be addAPIResponse (dont recall if there are others but this kind of naming).

[2018-07-30 14:39] arthurdm commented on #209
thanks @Rachelwrq

[2018-07-31 06:28] jmini commented on #246
Isn't also the builder method missing? I think it should be:

[code]

[2018-08-01 20:43] wojtczat commented on #224
I'll work on this issue

[2018-08-02 01:32] #246 closed

[2018-08-02 01:42] arthurdm opened #251 "Breaking changes for 2.0"
This issue will encapsulate breaking changes that we're considering for a future `2.0` release.  Things like removing deprecated functionality,  removing incorrect classes / methods, changing parts of the design, etc.

These items can go into the [2.0 branch](https://github.com/eclipse/microprofile-open-api/tree/2.0).

To add an item to this list please add a comment.

Current list of `2.0` propos

[2018-08-02 01:45] arthurdm commented on #248
For `1.1` we can add the `map` fields, `add` and `remove` methods and put a deprecating notice at the appropriate places.

I opened https://github.com/eclipse/microprofile-open-api/issues/251 to start tracking future 2.0 candidates - I think this one fits that.

[2018-08-02 01:47] arthurdm commented on #251
From #248 (thx to @jmini and @EricWittmann):
- replacing the non-extensible model interfaces with a map version in the appropriate encapsulating model.
- update extensible model interfaces to not extend from `Map`, and instead just contain a map as an internal field - exposing the non-mutable collection, and appropriate add and remove methods.

[2018-08-11 07:36] jmini commented on #251
Will you create a new branch to start to work on this version? This way PRs can be opened to start to work on this.

[2018-08-12 17:36] jmini opened #253 "Could a CI job be triggered for open PRs?"
I think it would be useful to set-up a CI for incoming PRs. Travis-CI or similar.
I can help with the setup, just let me know...

[2018-08-12 17:53] jmini opened #254 "APIResponses should be extensible."
While I was reviewing #248, I have noticed that `org.eclipse.microprofile.openapi.models.responses.APIResponses` should be `Extensible`.

It is indicated here:
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#responses-object

### Swagger-core:

`io.swagger.v3.oas.models.responses.ApiResponses` has the methods:

* `getExtensions()`
* `addExtension(String, value)`
* `setEx

[2018-08-12 17:54] jmini commented on #248
`org.eclipse.microprofile.openapi.models.responses.APIResponses` are extensible, see #254

[2018-08-12 18:07] jmini commented on #248
I am OK with this, can we sketch how the methods should look like?

Example with `Paths`:

Current situation:
* `Paths` is currently a extending `Map<String, PathItem>`.
* method to add a single element `Paths addPathItem(String name, PathItem item)`

Operation that can be added with 1.1:

* getter for the map: `Map<String, PathItem> getPathItems()` can  returns itself with `1.1` as a transition.

[2018-08-14 16:12] arthurdm commented on #251
Yup, good point.  Created: https://github.com/eclipse/microprofile-open-api/tree/2.0

[2018-08-14 20:41] arthurdm commented on #253
That would be awesome @jmini - thanks for bringing this up and for volunteering =)

I haven't checked, but I wonder if any of the other microprofile projects have Travis setup.  Since these are owned by the `eclipse` GitHub org, we don't (as committers) have access to all the settings and project admin tools.

@kwsutter @kenfinnigan  do you know?

[2018-08-14 20:43] kenfinnigan commented on #253
Instructions on setting up a PR builder are here: https://wiki.eclipse.org/MicroProfile/Continuous_Integration

[2018-08-15 04:04] jmini commented on #253
Ok then I must leave it to you guys (I am not an Eclipse Commiter for the MicroProfile project - rights are separated by projects at the Eclipse Fdn)

[2018-08-15 06:15] jmini commented on #251
Remove methods that were renamed (and deprecated) in 1.1: #256

[2018-08-20 00:07] arthurdm commented on #254
good find @jmini!

[2018-08-20 00:11] #254 closed

[2018-08-20 00:13] arthurdm commented on #251
thx - added to list

[2018-08-20 05:11] jmini commented on #248
If it returns `Paths` then it should be called `pathItems(Map<String, Path>)` to be consistent with the other builder methods...

[2018-08-20 05:20] jmini opened #257 "Schema.getAdditionalProperties(): return something better as Object?"
Per spec: `additionalProperties` in a Schema object can be an Object or a Boolean.
See https://github.com/OAI/OpenAPI-Specification/issues/668#issuecomment-281837896

In the code, `Object` is returned:
https://github.com/eclipse/microprofile-open-api/blob/c2a26360d460bfe07b30c83ba4fe6f9cc73543c6/api/src/main/java/org/eclipse/microprofile/openapi/models/media/Schema.java#L641

This is not really us

[2018-08-20 05:36] jmini commented on #229
After #255, we will keep `APIResponses` because it is extensible, so the name should be adjusted as described here => PR #258 for 1.1

[2018-08-20 14:08] janamanoharan commented on #207
https://github.com/eclipse/microprofile-open-api/pull/259 @leochr

[2018-08-21 19:05] #229 closed

[2018-08-23 04:42] jmini commented on #251
For this point:

Add: #261

[2018-08-24 05:26] jmini commented on #245
I am not sure anymore about this. Maybe `ServerVariables` is extensible after all.

I found the corresponding method in KaiZen-Parser:
https://github.com/RepreZen/KaiZen-OpenApi-Parser/blob/172ae39be53dc25187314e2a5f19ad9a709ef6cf/kaizen-openapi-parser/src/main/java/com/reprezen/kaizen/oasparser/model3/Server.java#L51-L74

Usage example:

[code]

[2018-08-27 00:08] arthurdm commented on #224
Completed via PR #260

[2018-08-27 00:08] #224 closed

[2018-08-27 00:29] arthurdm commented on #234
I think all the changes here were completed in PR #243 - closing.

[2018-08-27 00:29] #234 closed

[2018-08-27 00:34] arthurdm opened #262 "Hangout and hangout topic label"
Creating an issue for wider communication.

We're resuming our official hangouts after a while (summer vacations, etc), so wanted to create an issue to get more folks.

It's every other Monday at 10am EST, at this link: https://bluejeans.com/166335599/

Agenda will be here: https://docs.google.com/document/d/1opa5lz5m1IctTWNm09YWTb5qwg3r8zF9a0sPcOHCbt0/edit?usp=sharing

I have tagged a few items w

[2018-08-27 10:44] jmini commented on #234
The issue described as `#2` (being able to have the key of an entity as part of this entity) was not opened yet.

[2018-08-27 14:26] arthurdm commented on #234
cool, good catch.     do you want to open that one @jmini?

[2018-08-29 11:42] jmini commented on #245
The more I look at it, the more confuse I get.

I found the issue discussing if the ServerVariables are extensible or not: https://github.com/OAI/OpenAPI-Specification/issues/975

=> My understanding from Issue and from associated PR is that it was decided to not have extensions for server-variables.

---
*Current support in the java implementation*

KaiZen-Parser supports it. https://github.com/e

[2018-08-29 11:46] jmini commented on #240
This issue requires https://github.com/eclipse/microprofile-open-api/issues/248, so I think that it is a **2.0 feature**.

@arthurdm : can you please update the label?

[2018-08-29 17:35] evelinec opened #263 "UI improvements"
While trying out this Open Liberty guide, https://openliberty.io/guides/bean-validation.html, which uses OpenAPI for user input and application execution. There are couple UI issues that can be improved.

- [ ] It would help to move the response body page further up so after you click `Execute` it's the first thing the user sees. Or make the response body more prominent because at the moment it se

[2018-08-29 18:08] kenfinnigan commented on #263
I believe these issues need to be opened against the OpenLiberty guide you're referring to and not the MP Open API specification

[2018-08-29 18:08] #263 closed

[2018-08-29 18:17] arthurdm commented on #251
added

[2018-08-29 18:28] arthurdm commented on #245
Thanks for digging the OAS history on this @jmini!

I guess the summary is that `ServerVariables` is a legacy artifact that was removed from the OAS spec during the RC process, but some tools have adopted it during their early implementation.

Since it no longer exists in the spec, I think we should deprecate `ServerVariables` in `1.1` and remove it in `2.0`.   So then it becomes less important on

[2018-08-29 18:32] arthurdm commented on #240
Good point.  There is some work that we can do in `1.1` (insert javadoc clarification of immutable maps and add mutating operations where needed) for the existing maps, and in `2.0` when we convert some Map extensions into Map fields we should apply the same concept.

So it's both `1.1` and `2.0`.   Makes sense?

[2018-08-29 18:48] arthurdm commented on #263
Thanks for the feedback @evelinec

The UI is a value-add that Open Liberty adds on top of the MicroProfile OpenAPI spec, but it actually comes from a collaborative OSS work with the Swagger community, so the best place for an issue is: https://github.com/swagger-api/swagger-ui/issues  (although you would have to abstract it from `Open Liberty`).

[2018-08-30 05:33] jmini commented on #240
I think we have the same vision, but to sort out the issues. Le me rephrase what I mean.

---

This is part of #248.

---

This issue is about making everything immutable.

But as long as you have still `Xxxxs extends Map<K,V>` you can not control that `getXxxxs()` in the owner is immutable. Example: `openAPI.getPaths()`

When #248 is solved (the 2.0 version of the solution) we will have `owner.ge

[2018-08-30 05:44] jmini opened #264 "Key of an element should be exposed in the element"
Originally posted as `Question 2` in https://github.com/eclipse/microprofile-open-api/issues/234

---

When you work a lot with the model classes, for each member of a map (like `PathItem` element in the `Paths` object), you need to transport the key and the value everywhere because the information you need in contained in `Entry<String, PathItem>`.

Example:

[code]

Or to have your own holder cl

[2018-08-30 05:46] jmini commented on #234
New issue: https://github.com/eclipse/microprofile-open-api/issues/264

the issue is only a draft, I never took the time to investigate the proposed concept completely. But I am sure that the concept is necessary. It simplifies the manipulation code a lot.

[2018-09-03 05:00] jmini commented on #248
To continue the discussion, I have opened https://github.com/eclipse/microprofile-open-api/pull/266 where I have made the change for `Paths` (for the version 1.1)

[2018-09-08 22:56] arthurdm commented on #240
Yup, +1.    In `1.1` we won't be able to block all the mutations from happening (since it extends map), but we can discourage and `deprecate` it via javadoc as a foreshadow of the changes coming in `2.0`.

[2018-09-09 15:58] arthurdm commented on #264
+1.  I think this is an important improvement to the usability of these models.

I like Kaizen's approach of calling this a "PathString", which ore accurately describes what it is.  What if we used `getPathString`, and then for consistency we just rename the input field of the related methods from `name` to `pathString`, such as `Paths addPathItem(String pathString, PathItem item);`?

[2018-09-10 14:10] arthurdm commented on #251
We should also look into the issues from the MP Arch board that relate to MP OpenAPI as possible `2.0` candidates.

[2018-09-10 14:18] arthurdm commented on #264
Discussed in Sept 10 hangout.   +1 to this proposal.   Most places will still use `name`, but in cases where it makes sense to have another name we should change it (i.e. `pathString`)

[2018-09-10 14:26] arthurdm commented on #248
Agreed in the Sept. 10 hangout with the agreed direction of deprecating the Map extension in `1.1` and removing the extension in `2.0`

[2018-09-10 14:30] EricWittmann commented on #247
+1 to removing the `OpenAPI.path(String, PathItem)` method.

[2018-09-10 14:30] arthurdm commented on #247
Discussed in Sept 10 hangout.  +1 to deprecate  `org.eclipse.microprofile.openapi.models.OpenAPI.addPathItem(String, PathItem)`  in `1.1` and remove it in `2.0`, as that functionality is available from `Paths`.

[2018-09-10 14:31] arthurdm commented on #245
Agreed on Sept. 10 hangout with conclusion from https://github.com/eclipse/microprofile-open-api/issues/245#issuecomment-417057124

[2018-09-10 14:38] arthurdm commented on #244
Discussed in Sept 10 hangout and agreed to pursue this in the Smallrye community via issue https://github.com/smallrye/smallrye-open-api/issues/15

[2018-09-10 14:38] #244 closed

[2018-09-10 14:47] arthurdm commented on #214
Discussed on Sept 10 hangout to split this into 2 issues:  smaller changes, such as Patch for `1.1`, and bigger changes such as SSE / Callbacks for `2.0`

[2018-09-10 14:50] arthurdm commented on #212
Discussed at the Sept 10 hangout that Arthur will do a PR for this and will go through a final review once ready.

[2018-09-11 13:32] jmini commented on #257
Thank you for discussing this in the Hangout, and thank you for reporting here the decision.

Current (1.0):
[code]

---

Is the idea to have:

[code]

Then I understand that `getAdditionalProperties()` needs to be removed with 2.0 (and can be deprecated with 1.1).

I prefer this solution, because if users are using `Object o = s.getAdditionalProperties()` it is not clear that the method now only

[2018-09-11 13:36] jmini commented on #248
For the discussion in previous comment https://github.com/eclipse/microprofile-open-api/issues/248#issuecomment-414166897

Was something said in the Hangout?

----

In PR #266, I have decided to use:

[code]

Instead of
[code]

Is this the way to go?

[2018-09-11 16:04] jmini commented on #264
Thank you for the transcript of the hangout.

For me the feature only makes sense when we have immutable maps (#240), otherwise the map content can be manipulated, without updating the name inside the value.

Example on `Paths` (assuming that the key is changed to `pathString`):
when `Paths addPathItem(String pathString, PathItem item);` is called if you later get the `PathItem` instance with the

[2018-09-11 17:05] jmini commented on #247
Pull requests to fix this issue:

* For version 1.1: #267
* For version 2.0: #268

[2018-09-11 17:06] jmini commented on #251
For this point:

Add #268

[2018-09-12 05:13] jmini opened #269 "@Extension and list of strings value"
Version 3.0.1 specify the type of vendor extensions that can be used ([Specification Extensions](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#specificationExtensions)):

For the moment, the java annotation `@org.eclipse.microprofile.openapi.annotations.extensions.Extension` supports only `String` type as value.

Usage example in the TCK, lines 330 and 331:

https://gi

[2018-09-12 08:34] jmini commented on #269
As comparison, tested with:

[code]

Java code:

[code]

`parseValue = true` in `@ExtensionProperty` does what I need.

Not sure what the solution in microprofile is.

[2018-09-13 06:52] jmini commented on #257
Additional proposition:

We have also already 2 setters:
https://github.com/eclipse/microprofile-open-api/blob/8e0f2479a00470911d64ae13a59c5cd78f4240c9/api/src/main/java/org/eclipse/microprofile/openapi/models/media/Schema.java#L643-L659

I think they should be renamed to:
[code]

In order to be consistent with the getters.

[2018-09-16 08:57] jmini opened #270 "Running TCK `ModelConstructionTest` as standalone test (without having a deployable)?"
I have created an implementation for the models interface (and only for those). I am not interested by the "Application server" part of the project for my implementation.

I wanted to validate my project against the relevant part of the TCK (I identified at least `ModelConstructionTest` for that matter).

I have created a TestNG test suite:

[code]

When I try to run it, I get this exception:

[co

[2018-09-16 09:36] jmini opened #271 "APIResponses defaultValue"
Some propositions for the `defaultValue` methods in `APIResponsesImpl`

Current:

[code]

**First proposition:**

Rename the getter `getDefaultValue()` for consistency with the setter and the builder method.

**Second proposition:**

Specify at JavaDoc and TCK level that the methods for `DefaultValue` are only convenience methods that add a member to the `APIResponses` map with the `default` key (

[2018-09-19 04:31] jmini commented on #240
I have opened PR #273 to add the `removeXxxx(Yyyy)` methods.

[2018-09-19 17:32] jmini commented on #270
This is the commit I have in mind: https://github.com/jmini/microprofile-open-api/commit/05052b3d2dc9b5ef6b9e02ba6e642e4066f6a57a

I wait for feedback to open the PR.

[2018-09-23 23:59] arthurdm commented on #248
@jmini - we didn't discuss that particular scenario, but my suggestion is to use `addXYZ` for adding single items into a map and use `setABC` to override the whole map.

[2018-09-24 00:01] arthurdm commented on #248
Thinking a bit more, I guess it depends on what the semantics we want to have.   Something like `addPathItems` would just append the items to the current list, whereas `setPathItems` would override what's current in the map with the incoming items.    Do we see use for both scenarios?   Or is it overcrowding?

[2018-09-24 00:42] arthurdm commented on #262
Closing this now.   Label has been communicated and is in full effect. =)

[2018-09-24 00:42] #262 closed

[2018-09-24 00:43] arthurdm commented on #251
added

[2018-09-24 04:44] jmini commented on #270
I have opened https://github.com/eclipse/microprofile-open-api/pull/274 to discuss it in a PR.

[2018-09-24 04:45] jmini commented on #240
To continue to work on this on the `2.0` branch, the next step is to ensure that the `getXxxx()` returning lists are immutable at TCK level.

Should I write a test that ensures that `getXxxx().add(xxxx)` throw a runtime exception?

If the implementations uses `Collections.unmodifiableList(list)`, then an `java.lang.UnsupportedOperationException` is thrown. But this might already be implementation

[2018-09-24 04:47] jmini commented on #248
In my opinion we do not need to have both:

[code]

This will be confusing.

---

The builder pattern make sense for the single add item, using this method:
`addPathItems(String, PathItem)`

See this example (from the TCK):

[code]

I do not see the benefit of having a builder pattern for the Map. Even with the new builder method for Maps (`java.util.Map.of(k1, v1, k2, v2)` - Java 10), I think tha

[2018-09-24 14:17] arthurdm commented on #271
+1.  Discussed in the hangout on Sept 24.  Agree with changing TCK to use valid operation keys.  Also agreed to update the javadoc to make clear that `default` is a convenient key.

For `1.1` add `getDefaultValue` and deprecate `getDefault`.  In `2.0` remove the deprecated method.

[2018-09-24 14:30] arthurdm commented on #269
Discussed in today's hangout.  We agree with the addition of a `parseValue` field in that annotation.  It can also be used to parse other types, like number (eg.  value="12", parseValue=true)

[2018-09-24 14:47] arthurdm commented on #264
Discussed in the hangout today.   One approach is to override the methods that `add` a single item to the map (in `1.1`) so that we can keep the key at the map level consistent with the key at the child object level.

[2018-09-24 14:53] arthurdm commented on #257
Good catch @jmini

We discussed in today's hangout and agreed with the additions of:
[code]

And deprecate the existing ones in `1.1`, removing then in `2.0`

[2018-09-25 05:58] jmini commented on #257
PR for this: #277. Feedback welcomed.

[2018-09-26 05:37] jmini commented on #271
PR for version `1.1`: #278. Feedback welcomed.

[2018-09-28 13:06] arthurdm commented on #270
Fixed by #274

[2018-09-28 13:06] #270 closed

[2018-09-28 13:06] arthurdm commented on #271
`1.1` portion fixed by merged #278

[2018-09-28 13:12] arthurdm commented on #240
hey @jmini - the core idea is that the Map returned does not affect the internal map of the model.
 Implementations may wish to return a clone, or an unmodifiableList - I would say that's an implementation detail.

With that in mind, the main check from the TCK would be that `getXxxx().add(xxxx)` does not affect the original Map, so essentially:  `getXxxx().add(xxxx).size() == getXxxx().size() + 1

[2018-09-28 13:15] arthurdm commented on #248
yup, agreed.  Let's go with that.

[2018-09-28 16:12] jmini commented on #240
I have opened PR https://github.com/eclipse/microprofile-open-api/pull/279 to add the removeXxxx(String) methods.

[2018-09-29 00:36] arthurdm commented on #251
added

[2018-09-29 09:10] jmini commented on #257
PR for `2.0`: #281

[2018-09-29 09:10] jmini commented on #251
For this point:

Add #281

[2018-10-02 18:31] stbischof opened #282 "create mvn snapshot artifacts"
I cant find snapshot artifacts of the current version in any public repository.

[2018-10-04 14:35] stbischof commented on #282
i see, but there is no snapshot version

[2018-10-09 07:51] struberg commented on #227
To sum this up (because there seem to still be some confusion left): in the deferred to Architecture issue 32 it was decided to use a CDI first approach.

That means that the openapi TCK (and other TCKs) should either add a META-INF/beans.xml to those test archives or have the beans explicitly annoated with a CDI Scope or Stereotype (other bean defining annotation [1] would also work but don't mak

[2018-10-09 07:54] jmini opened #284 "Clarify behaviour of setter/builder methods with list / map parameter"
When a list or a map instance is passed to as setter method (or a builder) the implementation should create a copy of the items.

Examples:

1) setting an immutable list map

[code]

In my opinion this should work.

2) putting an element after having passed the list map instance.

[code]

In my opinion the second addition in the map should not modify the map in the OpenAPI instance.

For both case

[2018-10-09 07:54] jmini commented on #240
Related to this clarification topic, I have opened https://github.com/eclipse/microprofile-open-api/issues/284 to discuss the setter case.

[2018-10-11 15:45] arthurdm opened #285 "Investigate new OAS 3.0.2 version"
Investigate the `3.0.2` version of the OAS spec to see if there's anything we should react to.

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md

[2018-10-11 15:48] arthurdm commented on #282
I am wondering if a lot of app developers would take advantage of the snapshot version, vs using the stable release?

[2018-10-11 21:05] wojtczat commented on #264
@arthurdm I'll work on this issue

[2018-10-12 19:35] arthurdm commented on #284
I agree @jmini.  Implementations should copy the contents of the list/map, not use the actual instance.

[2018-10-12 19:36] arthurdm commented on #271
Awesome work @jmini - I think this one can be closed now?

[2018-10-13 07:00] jmini commented on #271
Yes everything is implemented. Thank you for review and merge.

[2018-10-13 07:00] #271 closed

[2018-10-13 07:12] jmini commented on #284
PR for `1.1`: https://github.com/eclipse/microprofile-open-api/pull/286

[2018-10-13 08:29] jmini commented on #248
PR for `1.1`: #283
PR for `2.0`: #287

[2018-10-13 21:52] rmannibucau commented on #228
up? this issue is not solved. Keep in mind this is NOT cause OAS3 defines YAML and JSON that MP *MUST* support it. If OAS3 defines that XML is support you don't have to add it. Specifications generally say "X MUST be supported and Y/Z are optional". Since MP is only about JSON and has no link *at all* with Yaml then this is what should be done here.

[2018-10-15 13:43] arthurdm commented on #228
thanks for the feedback @rmannibucau - I will re-open this issue, to be discussed in the next hangout (Monday, Oct 22 is the next one).

[2018-10-16 17:44] aguibert opened #289 "Automatically hide MP Rest Client operations"
Currently I have the following MP Rest Client interface in my application:

[code]

By default, these synthetic MP Rest Client operations show up in the MP OpenAPI web UI, so I have to add `@Operation(hidden = true)` to each operation in order to hide them.  If I do not hide them, they cannot be invoked because they are not actual rest endpoints available on the server, they are client-facing mode

[2018-10-18 13:19] arthurdm commented on #289
Thanks for raising this @aguibert.  I think it's reasonable to add this part to the MP OpenAPI spec: `if it is annotated with @RegisterRestClient it would be automatically excluded.`

[2018-10-22 05:10] jmini commented on #264
The problem is that in `1.1` this is not the single way of mutating maps. Even the TCK also checks that adding an element with the `put(K,V)` method is possible:

https://github.com/eclipse/microprofile-open-api/blob/14590bc49671c3f8eeb416298fa17fdd2567551b/tck/src/main/java/org/eclipse/microprofile/openapi/tck/ModelConstructionTest.java#L378-L379

With `2.0` this approach is definitively possible

[2018-10-22 05:11] jmini commented on #282
I know one scenario where I like to use already built SNAPSHOT version:
When I would like to know if my implementation is still compliant with the next version of the project, then it makes sense to use the SNAPSHOT version (on a feature branch for example).

On main branches and for released version of my project I use only released version.

[2018-10-22 05:11] jmini commented on #257
Both PRs has been merged (for `1.1` and `2.0`). Nothing more to do in my opinion, I am closing this issue. Thank you a lot.

[2018-10-22 05:11] #257 closed

[2018-10-22 05:11] jmini commented on #257
Both PRs has been merged (for `1.1` and `2.0`). Nothing more to do in my opinion, I am closing this issue. Thank you a lot.

[2018-10-22 05:14] jmini commented on #248
Both PRs has been merged (for `1.1` and `2.0`). Nothing more to do in my opinion, I am closing this issue. Thank you a lot.

[2018-10-22 05:14] #248 closed

[2018-10-22 15:58] stbischof commented on #282
that is the normal development life-cycle.. if you want that others are up-to date with your spec and wants to give (pre-release) feedback from the point of view of an implementing developer is absolutely helps to have snapshots.

[2018-10-22 16:01] arthurdm commented on #289
In the Oct 22 hangout we agreed to update the MP OpenAPI 1.1 spec to ignore classes annotated with `@RegisterRestClient`.

[2018-10-22 16:34] msavy commented on #228
Just giving my thoughts/analysis of this:

One of the key purposes of this specification is to provide easy integration with the upstream OpenAPI specification, and to (relatively) seamlessly facilitate common usage patterns and formats. A very large proportion of live OpenAPI specifications are written in YAML -- by making this optional, we won't be able guarantee OAI MP implementations will work

[2018-10-22 16:42] rmannibucau commented on #228
@msavy the proposal is compatible with your description. If the spec is human written it is in yaml, I agree, but you can also export it in all tools in JSON or if not you trivially find a tool doing it so you can always deploy it as a JSON so this is not a real feature to deploy a static file as JSON for MP (you will also likely just use a static server to do that and not a MP server in practise)

[2018-10-22 16:55] EricWittmann commented on #228
My $0.02 on this is that the MP+OAI spec should continue to require YAML as a format for the following reasons:

1) YAML is required by the OpenAPI specification
2) YAML is the most common format when creating API designs from e.g. editors and other tooling
3) Supporting YAML in the MP server does not introduce an unreasonable implementation burden

I would also add that the MP+OAI spec is not exc

[2018-10-22 16:55] msavy commented on #228
Requiring the user to convert or re-export their specification into JSON is not a good user experience, in my view.

In our experience, it's not hard to support YAML; I'm not convinced the burden on the implementor is sufficient to outweigh the burden and inconvenience inflicted upon the user (again, I'm very much interested to hear whether that's untrue for your situation?).

I think it's also no

[2018-10-22 18:01] rmannibucau commented on #228
The burden is actually quite real cause yaml requires dead deps in most apps - all others are part of mp core in v2.

And yes, the merging is maybe 5% of use case and is bothering in the 95 others cause it leads to unexpected payloads without ignore configs. Once again if you are design driven you dont care of the impl and if you are code first you dont care of the representation. There are a tons

[2018-10-22 19:17] arthurdm commented on #282
cool, good points.

[2018-10-22 19:22] arthurdm opened #291 "Add support for Patch"
In EE8 / JAX-RS 2.1 there's now a `Patch` http method: https://javaee.github.io/javaee-spec/javadocs/javax/ws/rs/PATCH.html

This issue will integrate that into the MP OpenAPI spec.

[2018-10-22 19:46] rmannibucau commented on #228
Yaml deps I checked are either heavy compared to MP, or conflict for some or are a 1 man lib so not sure any of these is a good choice for prod. The point being it is not really used by *end users* anyway.

[2018-10-23 04:46] jmini commented on #251
I think the work made with for list/maps in the OpenAPI model interfaces needs to be mentioned as (breaking?) change for`2.0`:

* (#240) All getters returning a list or a map MUST return copy of this list/map containing the same items. This list/map CAN be immutable
* (#284) The setters having a list or a map as parameter MUST not use the list/map instance directly (it can be for example an immuta

[2018-10-23 04:47] jmini commented on #240
This issue can now be closed:

For `1.1` methods were added to manipulate lists and maps:

* lists:  #273
* maps: #279

For `2.0` javadoc and tck were updated to indicates that the maps and lists getters returns a (potentially immutable) copy: #288

In my opinion nothing more to do here. @arthurdm can you close this?
Thank you a lot.

[2018-10-23 05:03] rmannibucau commented on #228
Keep in mind human driven API writing is done through forms today (Apigee, Restlet etc) so JSON is valid. Yaml user are "light dev" so can export as json easily. Also keep in mind I'm all for a "support" but not an "out of the box delivery". See it as a spec extension/appendix. So it is not goind "against" but going with the spec and users.

About the lib:

1. jackson (very fat for nothing, easily

[2018-10-23 10:59] msavy commented on #228
@rmannibucau That's just not our experience (of course, something else may be true for your product).

Do you have some kind of strict size limitations for your implementation? For example, embedded systems?

[2018-10-23 11:00] msavy commented on #228
@ivanjunckes which library are you guys using for your YAML support, currently?

@kenfinnigan Do you guys have a preferred/recommended YAML library in Thorntail? I see both snakeyaml and jackson's jackson-dataformat-yaml used in a fair number of places.

[2018-10-23 11:05] rmannibucau commented on #228
@msavy just the general rule to not require more than the user expect to keep control of the stack, limit the vulnerability and keep fast uploads, builds and runs. Today the mp distro is < 14M so yaml is significant. Fyi tomee uses jackson which breaks apps (understand users) and the server in several cases.

[2018-10-23 12:04] msavy commented on #228
Okay, just going to close things out from my side:

My position is that making YAML optional would meaningfully damage the specification; I disagree with your assessment that it's an unimportant/marginal format for OAI MP.

The technical aspects of YAML support are not problematic for us at all (i.e. Jackson was already available, we just added the YAML module). But, I think the technical issues a

[2018-10-23 18:42] rmannibucau opened #292 "Ensure MP is unified as a platform"
Currently each spec imposes its stack (typically openapi has yaml for instance). While it overlaps with ee it is ok but in other cases it create a new stack and dev model which is not convenient nor consistent for end users.

Goal of this task is to explicit that all feature requiring libs outside default mp stack must be optional.

Also this ticket must ensure the platform consistency at design l

[2018-10-23 19:05] rmannibucau commented on #292
Oops, wrong bugtracker, will reopen on the good one.

[2018-10-23 19:05] #292 closed

[2018-10-23 19:09] rmannibucau commented on #228
Done at https://github.com/eclipse/microprofile/issues

[2018-10-24 05:09] kenfinnigan commented on #228
Thanks @rmannibucau

[2018-10-24 05:29] jmini commented on #284
PR for `2.0`: #293

[2018-10-24 05:40] jmini commented on #291
Beside setting the new version in the TCK pom to:

[code]

And adding a test, is there something else to do?

---

I am not really aware of the versioning policy at micro profile, but changing the required JAX-RS version (from JAX-RS 2.0 Java EE 7 to JAX-RS 2.1 Java EE 8) is something that can be done on a minor version of OpenAPI-Microprofile (`1.1`)?

[2018-10-24 05:55] jmini commented on #264
@wojtczat: Nice to see your PR #290 merged.

For consistency reason, as @arthurdm suggested the parameter `name` in the `addPathItem(String, PathItem)` methods should be also renamed to `pathString`.

In `Paths`:

https://github.com/eclipse/microprofile-open-api/blob/8c8c6492afeeb3ffcd8e4456d69e6f6c6f2ed60e/api/src/main/java/org/eclipse/microprofile/openapi/models/Paths.java#L34-L41

In `Callback`

[2018-10-24 05:56] jmini commented on #285
Is there a diff or a blog post available somewhere, that describes the changes?

[2018-10-24 06:03] jmini commented on #247
Both PR are merged, I am closing this issue.

[2018-10-24 06:03] #247 closed

[2018-10-24 20:45] arthurdm commented on #291
I think that's probably it.  Although the TCK tests would have to cover both the annotation case (using `@Patch`) as well as the design-first case (via an OAS3 doc that has `patch`).   The PathItem model class already handles Patch so that should be good.

For the versioning, I believe the EE7 vs EE8 only applies to the umbrella MP release (like MicroProfile `1.x` vs `2.x`).   So we would release

[2018-10-24 20:47] arthurdm commented on #285
There's a change log here: https://github.com/OAI/OpenAPI-Specification/releases/tag/3.0.2

[2018-10-24 20:49] arthurdm commented on #240
yup, thanks @jmini!

[2018-10-24 20:49] #240 closed

[2018-10-24 20:53] arthurdm commented on #264
funny, I was thinking about this the other day. =)    In theory I guess it is a breaking change since someone's model implementation would not compile.  Unless we put a default impl returning `""`, but that's strange.

[2018-10-26 14:37] arthurdm commented on #264
I think one of the things we missed is a `setPathString` method in `PathItem`.   For `1.1` we can then add a Javadoc to that method saying that its value is meant to always match the `key` used when inserting this `PathItem` into a Map.  Setting it to anything else, or not setting it, is a user error.

So for now, make the user of the model responsible for setting that, since we cannot control wha

[2018-11-01 14:33] jmini commented on #264
I do not think that this method necessary at API level.

1) The KaiZen model is not providing a setter in their [`Path` interface](https://github.com/RepreZen/KaiZen-OpenApi-Parser/blob/2e0eb80eedc32186494cea3508ccee72bd6b421f/kaizen-openapi-parser/src/main/java/com/reprezen/kaizen/oasparser/model3/Path.java#L13)

2) In my opinion this will make the model more complex than necessary. For the momen

[2018-11-04 17:42] arthurdm commented on #264
I was thinking from a vendor's implementation side:  once a new PathItem is inserted into the Map I would like to set its path string field to match the `key` used - but if I am only working with the interface (https://github.com/eclipse/microprofile-open-api/blob/master/api/src/main/java/org/eclipse/microprofile/openapi/models/PathItem.java) then I don't currently have a way to `set` that field.

[2018-11-05 07:02] jmini commented on #264
I am pretty new to this API / vendor stuff, but isn't the API intended to be used by users of the lib? If some vendors need a setter they can add it, but it should not be exposed at API level to the user.

[2018-11-05 07:10] jmini commented on #284
Both PRs are merged. Closing this.

[2018-11-05 07:10] #284 closed

[2018-11-05 07:19] jmini commented on #282
I have created a job:
https://ci.eclipse.org/microprofile/job/Open-API-maven-snapshots/

Based on the input of this wiki page:
https://wiki.eclipse.org/MicroProfile/Continuous_Integration

For the moment I am only doing a "maven verify" to ensure that Jenkins is working, but this should be changed to "maven deploy" when I am sure that the setup is done correctly in the POM (I will check this as ne

[2018-11-05 09:23] jmini commented on #282
I have noticed that the Microprofile-RestClient project is pushing SNAPSHOTS to:

[code]

I have copied the settings of their job [RestClient-maven-snapshots](https://ci.eclipse.org/microprofile/job/RestClient-maven-snapshots/) and I managed to do a first maven deployment of the SNAPSHOT version, see the [openapi](https://oss.sonatype.org/content/repositories/snapshots/org/eclipse/microprofile/ope

[2018-11-05 14:55] arthurdm commented on #264
yup, it is indeed user-centric.   But, if there are things we can do to make it easier to implement the spec (for a vendor), so that they don't have to cast into impls, then that would be good too.

I am ok either way with this - just wanted to bring up that vendors will have to cast (i.e. `((PathItemImpl)pathItem).setPathString(myString)`).

[2018-11-08 09:22] 4040 opened #294 "Openapi 3.0 document generation at maven build time"
Hi am trying to generate API documentation by scanning all openapi annotation which we used in java at maven build time as json or YAML rather than Runtime in liberty server.Its working fine with runtime.

maven
[code]
Am looking for any maven plugin to generate Api document at Buildtime for openApi

[2018-11-08 23:06] arthurdm commented on #294
Thanks @4040

One path forward is to engage the OpenAPITools community (fyi @jmini), and perhaps propose an MP OpenAPI equivalent to https://github.com/openapi-tools/swagger-maven-plugin, something like `https://github.com/openapi-tools/mp-openapi-maven-plugin`?

As we spoke before, the limitation of that tool is that it would not support `runtime` aspects of the specification such as `OASReader`

[2018-11-08 23:08] arthurdm commented on #294
I just realized there's https://github.com/openapi-tools and there's https://github.com/OpenAPITools.   @jmini  - do you know the difference?

[2018-11-09 01:10] arthurdm commented on #294
@rmannibucau - I wonder how [Geromino](https://geronimo.apache.org/microprofile/openapi.html) has a plugin that provides `openapi.json`, in the sense that the MP application could have user-provided `OASReader` or `OASFilter` that could be relying on runtime / environment attributes?

[2018-11-09 05:43] rmannibucau commented on #294
@arthurdm you mean the maven plugin? Current impl ignores OAS* extension points - but good suggestion ;). The point is that this plugin is to use the API as provided and serve it statically without MP at all (with httpd or ngnix typically). Users tend to either hardcode the values or have a postprocessing build step - it is json after all - to customize it. I have very good feedbacks of that witho

[2018-11-09 12:58] jmini commented on #294
This was discussed also on Gitter with @EricWittmann:

I gave the SmallRye project a try:

Once you have the jandex (*) index of your code, the solution is ease:
[code]

(*) jandex is a Java annotation indexer and offline reflection library:
https://github.com/wildfly/jandex

I have managed to compute the jandex-index for a single class with:

[code]
(first time I use jandex manually, do not take

[2018-11-09 13:13] jmini commented on #294
@arthurdm : I am member of the "[OpenAPITools](https://github.com/OpenAPITools/)" organization on GitHub. I do not know "[openapi-tools](https://github.com/openapi-tools)", but I assume both follow the same kind of goal: providing tooling for OpenAPI/Swagger...

[2018-11-14 08:18] jmini commented on #253
I could verify this with PR #295:

GitHub displays that a Job is running:
<img width="784" alt="GitHub PR" src="https://user-images.githubusercontent.com/1222165/48469108-1e37b480-e7ee-11e8-917f-7dea6b69066c.png">

[Job](https://ci.eclipse.org/microprofile/job/Open-API-pull-requests/1/) in Jenkins:
<img width="357" alt="Jenkins Job" src="https://user-images.githubusercontent.com/1222165/48469109-2

[2018-11-14 08:18] #253 closed

[2018-11-14 17:48] arthurdm opened #296 "MicroProfile OpenAPI 1.1 release"
This issue will act as an umbrella for our upcoming 1.1 release.  We're targeting mid December.

Main query: https://github.com/eclipse/microprofile-open-api/issues?q=is%3Aissue+is%3Aopen+label%3A%221.1+candidate%22

- [x] RC1
- [x] Final release

We need to also update this issue from the umbrella MP repo: https://github.com/eclipse/microprofile/issues/68

[2018-11-14 18:18] arthurdm commented on #253
great work @jmini - thanks!

[2018-11-15 07:56] jmini commented on #264
In consideration of the upcoming MicroProfile OpenAPI 1.1 release  scheduled for mid Dec (see #296), I think that the feature is not yet ready to be included in `1.1`.
This is one other reason why we should target this feature for `2.0`.

Action:
Revert the commit introduced by #290 on our `master` branch and continue to work on this on the `2.0` branch.

[2018-11-15 07:58] jmini commented on #296
We have the [1.1+candidate](https://github.com/eclipse/microprofile-open-api/issues?q=is%3Aissue+is%3Aopen+label%3A%221.1+candidate%22) label to see the open issue.

I think one important point is #291: With MP-OpenAPI `1.1` we will request EE8 and integrate in Microprofile `2.x`, so having a solution for `@Patch` is important.

I will not reopen the debate here but for #264 I think we should targ

[2018-11-15 12:42] EricWittmann commented on #285
Having a look at this now.  Apologies for the delay.

[2018-11-15 12:52] EricWittmann commented on #285
OK after doing my own diff of the specification (yay for markdown!) between versions 3.0.2 and 3.0.1, I'm satisfied that there are no changes which impact the Microprofile OpenAPI specification.

I will not be offended if someone else wants to double-check, but I'm comfortable saying there's nothing to be done...and thus closing this issue.

[2018-11-15 16:01] jmini commented on #285
I had a look from an other point of view (starting with our code).

---

I found that some TCK tests are checking for “Start with `3.0.`” so this is OK (vendors can switch to `3.0.2` and the tests will still be valid)

Example:
https://github.com/eclipse/microprofile-open-api/blob/8c8c6492afeeb3ffcd8e4456d69e6f6c6f2ed60e/tck/src/main/java/org/eclipse/microprofile/openapi/tck/AirlinesAppTest.java#L

[2018-11-15 19:11] EricWittmann commented on #296
@arthurdm you should drop a note to the MP group to let them know that we plan on doing a 1.1 release of OAI to be included in MP 2.2:  https://groups.google.com/forum/#!forum/microprofile

The next meeting is in a week and a half I think - someone from our spec should attend.

[2018-11-15 19:47] arthurdm commented on #264
that sounds ok with me.  @jmini - if you wanted to do the revert, I am fine with this only going into 2.0.

[2018-11-15 19:49] arthurdm commented on #296
hey guys - good feedback.

Let's go through the list of 1.1 labelled items on Monday at the hangout to finalize what we want in vs defer.  Then we can work on how we get there =)

Good point about the mailing list email - I will get on that.  I have been bad at attending at the overall meetings, I will try to attend - unless it's during my upcoming vacation Dec 1-8 =)

[2018-11-18 22:04] arthurdm commented on #285
Thanks for the work on this guys.  Closing this, as PR #297 has been merged.

[2018-11-18 22:04] #285 closed

[2018-11-18 22:15] arthurdm commented on #296
- [X] Email sent to the group.

[2018-11-19 07:52] jmini commented on #282
The SNAPSHOT versions continue to be published.

With this config:

[code]

the SNAPSHOT Versions can be consumed in a maven build.

---

Closing this now.

@stbischof feel free to reopen/comment if you need anything.

[2018-11-19 07:52] #282 closed

[2018-11-19 15:01] bmhm opened #299 "ParameterIn is missing "Body""
Dear all,

I am using `@FormParam` twice in a specific location which will be parsed from the POST body.

Problem is: `ParameterIn` does not have a body constant. It only has:
`DEFAULT(""), HEADER("header"), QUERY("query"), PATH("path"), COOKIE("cookie");`

When adding a constant, please be so kind and also add a little bit of javadoc for each constant (especially default).

Thanks a lot!

[2018-11-19 15:17] EricWittmann commented on #291
I'll have a look at this.

[2018-11-19 17:13] EricWittmann commented on #299
This specification requires/uses version 3.0.x of the OpenAPI specification, which no longer has a `body` parameter type.  Instead have a look at the `RequestBody` annotations.

[2018-11-19 17:17] EricWittmann commented on #299
For reference, here is the annotation:

https://github.com/eclipse/microprofile-open-api/blob/master/api/src/main/java/org/eclipse/microprofile/openapi/annotations/parameters/RequestBody.java

And here is where you can learn more about request bodies in the OpenAPI specification:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#requestBodyObject

And here is a specific e

[2018-11-19 18:06] bmhm commented on #299
Thanks! That should be noted on
https://openliberty.io/guides/microprofile-openapi

[2018-11-19 18:06] #299 closed

[2018-11-19 19:35] EricWittmann commented on #299
@arthurdm it sounds like that's something you'll need to handle. :)

[2018-11-27 17:56] arthurdm commented on #251
updated

[2018-11-27 18:02] arthurdm commented on #251
I would like to throw in the idea of removing `OASFilter` and `OASModeReader` from the spec in the `2.0` version.   The benefits would be an easier-to-understand spec, and would allow full compatibility with an `offline` (via Maven or other) generation of the OAS3 doc.

I believe that modern usage of OAS3 is either via top-down / design-first, where you have the doc generated by a design team, or

[2018-11-28 08:17] jmini opened #300 "[2.0] Discuss usage of `OASFilter` and `OASModelReader`"
Discussion started by @arthurdm in https://github.com/eclipse/microprofile-open-api/issues/251#issuecomment-442157779 :

---

I would like to throw in the idea of removing `OASFilter` and `OASModeReader` from the spec in the `2.0` version.   The benefits would be an easier-to-understand spec, and would allow full compatibility with an `offline` (via Maven or other) generation of the OAS3 doc.

I b

[2018-11-28 08:17] jmini commented on #251
Lets continue the discussion here: https://github.com/eclipse/microprofile-open-api/issues/300

[2018-11-28 09:03] jmini commented on #300
The use case to be able to compute the OpenAPI during the build seems reasonable.

---
This was discussed here:
https://github.com/eclipse/microprofile-open-api/issues/294

---

I had a quick look into the http://micronaut.io/ approach and they are computing the OpenAPI spec at compile time.

---

I did not investigate the `OASFilter` feature yet (because we are still using `swagger-jaxrs` (or som

[2018-11-29 17:11] rmannibucau opened #302 "OpenAPI endpoint default mediatype should be json"
The spec says the default is yaml but to be aligned on the platform and increase interoperability (where javascript will prefer json over yaml) it would be way saner to use json as default IMO.

[2018-11-29 20:08] arthurdm commented on #302
hey @rmannibucau - is this a dup of https://github.com/eclipse/microprofile-open-api/issues/228?

[2018-11-29 20:56] rmannibucau commented on #302
#228 can imply this one but the opposite is not true.

High level the point is mp should just realy on jaxrs default behavior for serialization of its payloads and not mention any default in the spec. So saying that the answer formatting to /openapi is decided by jaxrs runtime is better than saying anything about json or yaml.

[2018-11-29 23:38] EricWittmann commented on #302
I don't have a strong opinion on this, but I can see a reasonable argument for JSON being the default media type for the `/openapi` endpoint.  That said, even if we were to make that change, I would want to keep YAML support **required**.

I'm suspicious that @rmannibucau is suggesting this change as a wedge to eventually get YAML removed as a requirement, which I would be against.

[2018-11-30 02:31] arthurdm commented on #302
ya, while I can see the valid case on sticking with the default jaxrs, this payload (OAS3) certainly carries a distinguished connotation from regular jaxrs payloads - it is meant to either be visualized by humans that are used to OAS3 docs, or fed into code generators.

The latter can work with JSON or YAML just as easily, as all OpenAPI generators do today.   The former is a tricky one - for year

[2018-11-30 05:15] johnament commented on #302
Is there a TCK test that checks the default response presently when the accept header is ommited?

[2018-11-30 05:41] rmannibucau commented on #302
To clarify a point: i didnt open this ticket by myself but from a user question so please dont see it related to the other ticket - but i still think it makes sense ;).

Also i can understand the "json was horrible" point except now openapi got tooled and integrated and you dont call that endpoint but a html version and all js widgets dont support yaml so at the end the choice is: do people check

[2018-11-30 11:30] ivanjunckes commented on #228
We are using geronimo-open-api, which uses jackson like Romain said.

[2018-12-03 12:45] jmini opened #303 "Add more methods to OASFactory"
For the moment when you want to create an OpenAPI instance programmatically, you need to do something like this:

[code]

I think that the method `OASFactory.createObject(<Name the class>)` produce codes that is not really readable.

I would like to create the convenient create methods for each type (that just delegates to the existing one) so that it is possible to write:

[code]

What do you thi

[2018-12-03 13:13] jmini opened #304 "Remove dependency on servlet in TCK"
See https://github.com/eclipse/microprofile/issues/59

---

The problem is: [ApiOriginFilter.java](https://github.com/eclipse/microprofile-open-api/blob/5c82c3adf55b1ead36fda933b637bdc38b4a7a34/tck/src/main/java/org/eclipse/microprofile/openapi/apps/petstore/util/ApiOriginFilter.java)

And:
https://github.com/eclipse/microprofile-open-api/blob/5c82c3adf55b1ead36fda933b637bdc38b4a7a34/tck/pom.xml#L

[2018-12-03 13:16] EricWittmann commented on #303
+1

[2018-12-03 17:47] jmini commented on #303
PR: https://github.com/eclipse/microprofile-open-api/pull/305

[2018-12-07 07:41] jmini opened #306 "Any plans to release a Milestone version from 2.0 branch ?"
On the `2.0` branch we have performed a lot of changes to the Model Interfaces in order to:

* Have interface that do not extend `java.util.Map`
* Have clear behaviour (for example: enforce to create copy of list/maps, return an immutable copy...)
* Have defined paths for the mutations operation (the consumer of the library have a clear way to add/remove elements in list/maps)
* ...

One use case

[2018-12-07 14:43] kenfinnigan commented on #306
Other specifications have released "Release Candidates" prior to a final release for inclusion in MP.

MP REST did one the other week.

I'm not sure what "process" might be required, but could ask on MP Google Group

[2018-12-07 15:00] kenfinnigan commented on #228
This was discussed at the MP Architecture call today.

There was agreement that all MP specs should output data in JSON format. However, the default format can be something other than JSON where an external specification or industry standard dictates something different. Examples of that being YAML with OpenAPI and Prometheus with Metrics

[2018-12-07 15:00] #228 closed

[2018-12-07 15:01] msavy commented on #228
Thanks for the engagement, Ken. Much appreciated.

[2018-12-07 17:36] EricWittmann commented on #302
For reference:  https://github.com/eclipse/microprofile-open-api/issues/228#issuecomment-445258344

[2018-12-07 17:37] EricWittmann commented on #302
I agree with @johnament that the TCK should test for this.  I believe @ivanjunckes asked this same question somewhere else...

[2018-12-07 17:37] EricWittmann commented on #302
@arthurdm you can decide whether to open another issue for updating the TCK vs. use this one?  :)

[2018-12-07 19:59] EricWittmann commented on #306
@jmini do you want to raise the question on the MP google group?  Or if you'd prefer I can do it.  Let me know.

[2018-12-09 13:52] jmini commented on #306
In this case, for the OpenAPI project we are pretty far from a real "Release Candidate" (`2.0.RC1` or something like that). We have a lot of ideas that could make it into the `2.0` release.

Personally I am against calling it a RC.

This is why I have propose "Milestone 1" (`2.0.M1`), like other Eclipse Project does. "Pre-Release"  that is the term used in the GitHub UI in the releases list would

[2018-12-10 01:04] arthurdm commented on #306
Hey guys.  I have no objections on doing a PR1 release.  It does match well with GitHub's concept of releases.    How about we do a `RC1` for the `1.1` branch this week, and then a `PR1` for the `2.0` branch next week?

[2018-12-10 01:12] arthurdm opened #307 "Add TCK test for formats"
A TCK test should be added to check that `YAML` is the default format, but `JSON` can also be retrieved.   See issue #228 and #302 for more background.

[2018-12-10 01:12] arthurdm commented on #302
Thanks guys.  Opened https://github.com/eclipse/microprofile-open-api/issues/307 for this.

[2018-12-10 01:12] #302 closed

[2018-12-10 08:06] rmannibucau commented on #307
It is already the case since json and yaml are tested all the time and yaml does not use a yaml specific mediatype, no?

[2018-12-12 06:22] jmini commented on #291
PR: #308

[2018-12-12 21:49] #303 closed

[2018-12-12 21:51] Emily-Jiang opened #309 "Review MP blog post"
Please review https://microprofile.io/wp-admin/post.php?post=6064. Let me know if the link is not accessible.

[2018-12-12 21:58] #291 closed

[2018-12-13 09:58] jmini commented on #309
What is the login? The Eclipse Foundation one?

[2018-12-15 00:52] arthurdm commented on #306
Milestone Release 1 for MP OpenAPI 2.0 is now on Maven Central: https://search.maven.org/artifact/org.eclipse.microprofile.openapi/microprofile-openapi-parent/2.0-MR1/pom

[2018-12-15 00:53] arthurdm commented on #296
RC1 MP OpenAPI 1.1 is out: https://search.maven.org/artifact/org.eclipse.microprofile.openapi/microprofile-openapi-parent/1.1-RC1/pom

[2018-12-17 15:16] arthurdm commented on #216
Closing - finished in PR #239

[2018-12-17 15:16] #216 closed

[2018-12-17 15:21] arthurdm commented on #175
Finished via PR #213

[2018-12-17 15:21] #175 closed

[2018-12-17 15:48] jmini opened #310 "TCK: create more realistic SecurityRequirement instances"
Depending on how `SecurityRequirement` is implemented, the TCK `ModelConstructionTest` creates  `SecurityRequirement` instances that can be considered as equals and should not.

The TCK should contain values that are really different and more closer to the real values.

[2018-12-18 08:17] jmini commented on #310
I have opened two PRs:

* 1.1: #311
* 2.0: #312

----

To reproduce the issue, you can add `hashCode()` and `equals(Object obj)` to the class implementing `SecurityRequirement`. In my opinion this implementation is acceptable.

The tck tests in `ModelConstructionTest` expect that if you call `createConstructibleInstance(SecurityRequirement.class)` twice in the same test, the 2 instances are differ

[2018-12-18 16:27] Rachelwrq opened #313 "The TCK petstore application should produce a valid OpenAPI document."
Loading the TCK petstore application and running it through OpenLiberty's validator produced the following errors:

[code]

[2018-12-19 15:38] arthurdm commented on #209
fixed via PR #315 - thanks @Rachelwrq!

[2018-12-19 15:38] #209 closed

[2018-12-19 15:39] arthurdm commented on #310
Both PRs merged.  Thanks @jmini!

[2018-12-19 15:39] #310 closed

[2018-12-19 15:45] arthurdm commented on #300
hey @jmini - I think the scenario of displaying operations based on the logged in user is a very cool idea.   Instead of doing this manually via a filter though, I would propose we investigate how to augment our existing annotations to allow for such scenario.  For example, perhaps this is something we add into `SecurityRequirement`?

[2018-12-19 17:43] arthurdm commented on #212
Delivered in PR #301

[2018-12-19 17:43] #212 closed

[2018-12-20 19:10] #269 closed

[2018-12-20 20:38] #245 closed

[2018-12-21 14:56] EricWittmann opened #322 "Clean up the Pet Store (and possibly Airlines) app annotations"
The Pet Store app (possibly also the Airlines app, I haven't checked) has a number of `@Parameter` annotations that are likely incorrect because the app was taken from the old Swagger 2.0 codebase.  For example, there are a number of `@Parameter` annotations on method arguments which would typically be represented as a request body.  In Swagger 2.0 that was correct, because request bodies were def

[2018-12-21 17:12] #289 closed

[2018-12-21 17:12] arthurdm commented on #289
Fixed by PR #320

[2018-12-21 17:18] arthurdm commented on #322
thanks for opening this Eric.

fyi, these were other warnings that we saw from the Pet Store app:

[code]

[2018-12-21 17:18] arthurdm commented on #313
Closing in favour of https://github.com/eclipse/microprofile-open-api/issues/322

[2018-12-21 17:18] #313 closed

[2018-12-29 04:49] jmini opened #323 "Behaviour of add methods with null value"
When a map is used, the model interfaces have `addXxxx(String, T)` methods.

The Javadoc is not clear about `null` beeing accepted or not as value of type T

I think that calling an add method with a `null` value (e.g. `addXxxx(“key”, null)`) is equivalent to calling `removeXxxx(“key”)`.

---
The test in `ModelConstructionTest` do not enforce this. We could add something like:

[code]
---

List:
[

[2018-12-30 06:30] jmini commented on #323
Alternative option:

Indicate in the Javadoc that for the add methods, the value (second parameter) "should not" or "must not" be null.
This could be enforced in the TCK or not.

[2018-12-30 10:38] jmini commented on #251
Input from @Emily-Jiang on the mailing list:

This means that in order to have our `2.0` version in the umbrella spec, an MicroProfile 3.0 will be requested.

My opinion is that for the moment the changes introduced in our `2.0` version are to small to do this move.

[2019-01-02 14:41] arthurdm commented on #323
hey @jmini - I prefer using the `removeX` methods to remove items, so I am in favour of your alternative option to specify in the javadoc that the `value` must not be null.

[2019-01-02 14:49] EricWittmann commented on #323
I agree with @arthurdm on this - I don't think the `addX` methods should be able to remove items.  So my vote goes to the alternative option - and I think the TCK should enforce it.

[2019-01-02 16:51] arthurdm commented on #251
I agree @jmini - let's keep an eye out this year for other specs potentially also in this situation (i.e. about to force an umbrella `3.0` version) and target our `2.0` to go along with them.    There's nothing very urgent in `2.0` so far, and we can do a few of the `MR` builds if needed.

[2019-01-02 17:15] jmini commented on #323
Improving the Javadoc is OK.

What is the expected enforcement for the TCK?

1. `addXxxx("key", null)` **CAN** throw an exception (like `IllegalArgumentException`, but I think the TCK should not enforce the type of Exception)
2. after `addXxxx("key", null)`, calling `containsKey("key")` on the corresponding Map **MUST** return false after.

For 1. it could also be a MUST, but I think CAN is better

[2019-01-02 17:51] EricWittmann commented on #323
I agre - I think (2) is fine for the TCK.  There's no need to dictate exception throwing.

[2019-01-02 20:04] arthurdm commented on #323
We probably just need to be careful on the wording of (2) to say that passing `null` values will be ignored, instead of saying that it will return `false` - as in some cases it will return `false`, but not all.

Consider this scenario:

[code]
After this executes, should `containsKey("myKey")` return `true` or `false`?  I think it should return `true`, if `null` values are ignored.

[2019-01-03 16:11] jmini commented on #323
PR for 2.0: #325

[2019-01-03 18:04] arthurdm commented on #296
Final release is out!  https://github.com/eclipse/microprofile-open-api/releases/tag/mp-openapi-1.1

[2019-01-03 18:04] #296 closed

[2019-01-04 13:34] jmini commented on #245
A Model Test for `Server#setVariables(Map<String, ServerVariable> variables);` should be added, because for the moment there are only tests for the method that is deprecated: (Server#setVariables(ServerVariables variables);)

[2019-01-04 13:40] jmini commented on #323
Findings by @EricWittmann:

And:

[2019-01-04 13:48] EricWittmann opened #327 "TCK bugs in Release 1.1"
I found three problems with the TCK when updating smallrye:

1. The Airlines app test has an assertion using the wrong `operationId` value here:  https://github.com/eclipse/microprofile-open-api/blob/bd7706d3bacfc15e8253978b75348f54df1b232f/tck/src/main/java/org/eclipse/microprofile/openapi/tck/AirlinesAppTest.java#L264 The correct value is actually `getUserByName` as found here: https://github.co

[2019-01-04 13:52] EricWittmann opened #328 "The Scopes class should be deprecated (similar to ServerVariables)"
The `Scopes` class seems to be a leftover from OpenAPI 2.0.  The 3.0 specification does not have a `Scopes` object.

OpenAPI 2.0: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#scopesObject
OpenAPI 3.0: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#oauth-flow-object

In 3.0 `scopes` is a simple **Map** property of the `OAuth Flow` object.  As

[2019-01-04 15:07] jmini commented on #327
As discussed on gitter, I will have a look at 2 and 3

[2019-01-04 17:02] arthurdm commented on #328
I agree - and there's a good example inside `SecurityRequirement` on how to store a scope without needing a new class.

[2019-01-07 15:37] #327 closed

[2019-01-09 04:54] jmini commented on #296
Additional release to fix issues in the TCK: [`1.1.1`](https://github.com/eclipse/microprofile-open-api/releases/tag/mp-openapi-1.1.1)

[2019-01-10 04:41] jmini commented on #323
All PRs are merged:

* `master` branch
  * in release `1.1`: #324
  * in release `1.1.1` additional fixes #329
* And merged into `2.0` branch with #325

Closing this issue now.

[2019-01-10 04:41] #323 closed

[2019-02-06 03:10] charleech commented on #300
I apologize for interrupting you.

I'm worried about the wording "remove" and would like to share my `OASFilter` use case for your consideration.

At the moment I'm using the `OASFilter` with `system properties` or `environment variable` to filter the URL for `@SecurityScheme`, e.g. the `authorizationUrl`, `tokenUrl`, `refreshUrl` , `OpenIdConnectUrl`. Because in my environment, dev, sit, uat, pro

[2019-02-07 14:16] arthurdm commented on #300
thanks for the feedback @charleech!  That's a good example of the filter usage.

[2019-02-07 14:16] arthurdm commented on #300
I have renamed the title, so it's more of a discussion to gather use cases =)

[2019-02-08 01:33] arthurdm commented on #300
I found out that MicroProfile Fault Tolerance uses a [very cool](https://download.eclipse.org/microprofile/microprofile-fault-tolerance-2.0/microprofile-fault-tolerance-spec.html#_config_fault_tolerance_parameters) pattern for overriding any annotation value.

Basically  it is setting `<classname>/<methodname>/<annotation>/<parameter>`

For example: `com.acme.test.MyClient/serviceA/Retry/maxDurati

[2019-02-08 07:31] jmini commented on #300
@arthurdm: I am not sure how yet, but the MP-OpenAPI spec could plan a way that gets the OpenAPI Spec at compile time (I think it was your use case and something that framework like micronaut are also doing) with the limitation that the output at runtime might be modified by `OASFilter` and `OASModeReader`.

Maybe a config to enable runtime modifications (could be false by default).

This way, ven

[2019-02-08 17:14] arthurdm commented on #300
that's right @jmini - it would be very nice to have a choice of generating the OAS3 doc at compile time or at runtime.

 Perhaps we can look at in terms of compile capabilities vs runtime capabilities:

**Compile**
- supports static OAS3 doc
- support annotations
- support MP config (this is where we can allow for generic annotation overrides, using the same concept as MP Fault Tolerate)

**Runtim

[2019-02-08 18:20] EricWittmann commented on #300
I'm in favor of this approach in principal.  But is there really any reason why `OASFilter` and `OASModelReader` can't be supported at compile time?  I mean obviously it will depend greatly on the provided class, but I can imagine use-cases where these interfaces could be useful without requiring a running system.

[2019-02-13 04:04] charleech commented on #300
I would like to inform us the further use case for `java.util.Map` by following the [Dictionaries, HashMaps and Associative Arrays](https://swagger.io/docs/specification/data-models/dictionaries/) as the following: -

[code]

[code]

[code]

[2019-02-20 06:42] jmini opened #331 "Validation of OpenAPI Spec?"
_I think we started a discussion somewhere about this, but I could not find it._

Maybe at API level we could defines an interface to report OpenAPI validation issues.

----
Example of an invalid spec:

[code]

----
KaiZen:

KaiZen have a [ValidationItem](https://github.com/RepreZen/KaiZen-OpenApi-Parser/blob/82a3527bb628014f1719e23ea4577b69e5326a37/kaizen-openapi-parser/src/main/java/com/reprezen

[2019-02-20 15:52] arthurdm commented on #331
thanks for starting this thread @jmini

As background, in WebSphere Liberty there are 2 levels of validation support:
- from our [Eclipse tools (WDT)](https://www.ibm.com/support/knowledgecenter/en/SSHR6W/com.ibm.websphere.wdt.doc/topics/c_restapi_swag_valid.html)
- from the `openapi-3.0` feature runtime, (see bullet 5 in this [link](https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/co

[2019-02-20 15:54] arthurdm commented on #331
maybe from a MP OpenAPI spec's perspective we can define a common MP Config key that turns validation on/off (`mp.openapi.validation`) and the way the errors are actually presented to the user are vendor / platform specific?

[2019-02-20 16:02] EricWittmann commented on #331
Another wrinkle with respect to validation is that with filtering the actual content of the OpenAPI document may change depending on who requests it.  That said, I think validation is a nice feature to have, although I also agree that it probably should be vendor specific.  However I'm happy to change my mind if we can come up with a standard way to define how validation works and is reported.

[2019-02-25 14:46] arthurdm commented on #331
One of the things we discussed at the hangout today was:

* Configure OpenAPI validation via `mp.openapi.validation`
* Fetch validation results (array of errors or something like `Document is valid`) by calling `openapi/validation`

The validation support would be optional for vendors.   Thoughts?

[2019-02-25 14:55] EricWittmann opened #333 "Evaluate OpenAPI 3.1 for changes (to update this spec)"
In a couple of months, the OpenAPI spec should be releasing version 3.1.  We should evaluate that release and figure out what changes we might need to make to this spec to support it.  Also should we support multiple versions of the OpenAPI spec or only the latest??

[2019-02-25 15:24] EricWittmann opened #334 "Visualize the OpenAPI document at a standard URI"
At our weekly hangout today we discussed the possibility of a spec-defined URL where a user could visualize the generated OpenAPI document.  The idea is that the spec would indicate how to enable/disable such a feature **and** specify where a user could find such a visualization.  This would probably be similar to validation in approach (config property to enable/disable and well defined endpoint

[2019-03-15 13:25] jbee opened #339 "Clarify Extensible name (with/without x-)"
The javadoc of `Extensible.addExtension` states:

    @param name the key used to access the extension object. Always prefixed by "x-".

This can be understood in two ways:
1. The name passed is plain and the extensible object will prefix it with `x-` in its map.
2. The name should start with `x-`. Does this mean other should be ignored?

In the TCK examples the annotations use names with the `x-`

[2019-03-15 13:43] EricWittmann commented on #339
@arthurdm - can you add this to the agenda for next meeting?

[2019-03-18 07:45] jmini commented on #339
I think accepting a key that starts with an `"x-"` is valid and should be accepted.

*What can be changed:*

if the name does not start with `"x-"` we can make the TCK ensure that the implementations add the missing prefix:

[code]

results in `"x-custom"` key being added with the value `"value"`.

If we go this way, then to be consistent the same should be applied for `setExtensions(Map<String, O

[2019-03-18 12:03] EricWittmann commented on #339
I think this is a pretty good summary of the options! :)

[2019-03-18 14:44] arthurdm commented on #339
I believe the OAS3 says the extension keys `MUST` start with `x-`, as per https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#specification-extensions

[2019-03-18 15:01] EricWittmann commented on #339
It does, but I think the idea here is that the MP+OAI spec **could** support leaving out the `x-` bit of the key from the annotation, but that the platform would add that prefix in when generating the OpenAPI document.

[2019-03-18 15:05] EricWittmann commented on #339
I think my approach would be to leave it as-is but update the javadoc (if it's not already clear) to indicate that the extension key should begin with `x-` or else an invalid document will be produced.  @jmini correctly quotes my default position (until convinced otherwise) that we'll never be able to prevent users from doing something that will produce an invalid OpenAPI document.  That said, it